<script>
$.getScript("_/js/loading_scripts/activejobtablescript.js");

</script>

<div class="Instructions">
  <h3>Active / Draft Job Postings</h3>
  <p><i class="fa fa-pencil fa-lg"></i>: To edit a job that was posted earlier</p>
  <p>Active Status: Active job postings are matched with potential candidates. You can view the matching result in the Recruiter Dashboard</p>
  <p>Draft Status: Job postings that are not ready to be made active are in Draft mode. </p>
  <p>To change the job posting status, click on the respective job ID to open up the job for edit. Then select either Activate or Cancel Job</p>
</div>
  
  <table id="joblistingtable" class=" table table-striped table-bordered table-hover">
    <thead>
      <tr>
         <th>Job ID</th>
         <th>Job Title</th>
         <th>Updated on</th>
         <th>Expire on</th>
         <th>Status</th>
      </tr>
    </thead>
    <tbody id="aat" >
      
      <% @joblisting.each do |i| %>
      <% if i.job_status == 1 || i.job_status ==2 || i.job_status ==4 %>
      <tr>
        <td><a onclick="showjobdetail(<%=i.id%>)" href="javascript:void(0)"> 
            <i class="fa fa-pencil"></i> <%= i.id%></a> </td>
        <td><%= if i.job_title_actual != nil 
                i.job_title_actual  end%> </td>
        <td><%= i.job_posted.strftime("%d/%m/%Y") %></td> 
        <td>
          <% if i.job_status == 2 %>
            <%=i.job_closed.strftime("%d/%m/%Y")%> 
          <%end%>
        </td> 
        <td>
          <%= if i.job_status == 0
               "Deleted"
             elsif i.job_status == 1
              "Pending"
             elsif i.job_status == 2
              "Active"
             elsif i.job_status == 3
               "Closed"
             elsif i.job_status == 4
               "Draft"
             else  "NA"
             end
          %>  
        </td> 

      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table> <!--joblistingtable -->