<script>
$.getScript("_/js/loading_scripts/admin_seekertablescript.js");

</script>

<header>Job Seeker Administration</header>
<table id="admin_seekertable" class="hover compact">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>UserName</th>
      <th>Last Updated</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody >
    <% @allusers.each do |i| %>                
    <tr>
      <td><%= i.firstname %></td>
      <td><%= i.lastname %></td>
      <td><%= i.username != nil ? i.username : " "%></td>
      <td><%= i.updated_at.strftime("%c") %></td>
      <td>
        <a href="/admin_editseekerprofile?pk=<%=i.id%>"> Edit Job Seeker Profile</a>
      </td>
      <td>
        <a href=""> Edit Career Profile</a>
      </td>
      <td>
        <a href=""> Delete</a>
      </td>
    </tr>
      <% end %>
  </tbody>
</table>