<script>


</script>

<header>User Administration</header>
<div class="Instructions">
  <p>
    Edit Job Seeker Profile    : Edit the personal information of Job Seeker<br>
    Edit Career Profile        : Edit the career profile (CV) of Job Seeker<br>
    Delete  : Delete the Job Seeker account. This action is irreversible!<br>
  </p>
</div>
<table id="admin_seekertable" class="hover compact">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>UserName</th>
      <th>User Type</th>
      <th>Last Updated</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody >
    <% @allusers.each do |i| %>    
              
    <tr>
      <td><%= i.firstname %></td>
      <td><%= i.lastname %></td>
      <td><%= i.username != nil ? i.username : " "%></td>
      <td>
        <% if i.usertype == 1 %> Job Seeker <% end %>
        <% if i.usertype == 2 %> Coy User<% end %>
      </td>
      <td><%= i.updated_at.strftime("%c") %></td>
      <td>
        <% if i.usertype == 1 %>  
          <a href="/admin_editseekerprofile?pk=<%=i.id%>"> Edit Job Seeker Profile</a>
        <% end %>
      </td>
      <td>
        <% if i.usertype == 1 %>  
          <a href="/admin_editseekercareer?pk=<%=i.id%>"> Edit Career Profile</a>
        <% end %>
      </td>
      <td>
        <a href="#" onclick="deleteUser(<%=i.id%>, <%=i.usertype%>  )">Delete </a>
      </td>
    </tr>
      <% end %>
      
  </tbody>
</table>

