
<header>Recruiter Administration</header>
<script>
$(document).ready(function(){
  
});
</script>

<div class="Instructions">
  <p>
    Edit Company Profile   : Edit the general information of this company as well as adding new company user account<br>
    Suspend : Company will not be allowed to post any jobs if it is suspended<br>
    Delete  : Delete the Company<br>
  </p>
</div>

<table id="admin_coytable" class="hover compact">
  <thead>
    <tr>
      <th>Company</th>
      <th>Email</th>
      <th>Suspended?</th>
      <th>Last Updated</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody >
    <% @allcoy.each do |i| %>                
    <tr>
      <td><%= i.company_name %></td>
      <td><%= i.company_email %></td>
      <td>
        <a class="coy_suspended inputText" href="javascript:void(0)" data-name="company_suspended" data-type="select" data-pk="<%=i.id %>" data-url="/updatecompanyprofile" data-source="[{value: 'true', text: 'Yes'}, {value: 'false', text: 'No'}]" data-title="Suspend Company?">
          <%= i.company_suspended == true ? "Yes" : "No" %>
        </a>
      </td>
      <td><%= i.company_dateadded %></td>
      <td>
        <a href="/admin_editcoyprofile?pk=<%=i.id%>"> Edit Company Profile</a>
      </td>
      <td>
        <a href=""> Delete</a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
