<script>
$.getScript("/vendor/closedjobtablescript.js");
</script>

<div class="Instructions">
  <h3>Closed / Cancelled Job Posting</h3>
  <p>Edit Button: To edit a job and/or resubmit the job posting for candidate matching</p>
  <p>Cancelled Status: Cancelled jobs are no longer matched with candidates. To reactivate it, Edit the job and change status to Active</p>
  <p>Closed Status: Closed jobs are jobs that have expired based on the Closing date defined by you. To reactivate it, Edit the job and change status to Active</p>
</div>

 <table id="closedjobjobtable" class=" table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Function</th>
        <th>Posted</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="aat" >
      <% @joblisting.each do |i| %>
      <% if i.job_status == 0 || i.job_status == 3 %>
      <tr>
         <td><%= i.id%></td>
         <td><%= i.job_title %> </td>
         <td><%= i.job_posted.strftime("%d/%m/%Y") %></td> 
         <td><%= i.job_status == 0 ? "Cancelled" : "Closed" %>  </td> 
         <td>
          <div class="action-buttons">
             <a onclick="showjobdetail(<%=i.id%>)" href="javascript:void(0)"> 
              <i class="fa fa-pencil fa-lg"></i>
            </a>      
          </div>
         </td>
      </tr>
      <%end%>
      <%end%>
    </tbody>
  </table> <!-- closedjobjobtable -->


