<script>
$.getScript("_/js/loading_scripts/coyuserdetailscript.js");
</script>

<section class="coyUserDetail">
	<header>
    	Company User Detail
	</header>
    <div class="Instructions">
		<h3>Setting up of Company Users</h3>
		<p>Select any field you want to edit. After edit, the information is saved immediately.</p>
		<p>Keying in a password in this field will reset this user's original password. Please inform the user when this change is made</p>
	</div>

	<p>First Name<sup>*</sup> : 
		<a class="inputText" href="javascript:void(0)"  id="c_firstname" data-name="firstname" data-type="text" data-title="Enter First Name" data-value="<%=@coyuser.firstname%>" data-pk="<%=@coyuser.id %>">  </a>
	</p>

	<p>
		Middle Name :
		<a  class="inputText" href="javascript:void(0)"  id="c_middlename" data-name="middlename" data-type="text"  data-title="Enter Middle Name" data-emptytext="--" data-value="<%=@coyuser.middlename%>" data-pk="<%=@coyuser.id %>"> </a>
	</p>

	<p>
		Last Name<sup>*</sup> :
		<a class="inputText" href="javascript:void(0)"  id="c_surname" data-name="lastname" data-type="text"  data-title="Enter Last Name" data-emptytext="--" data-value="<%=@coyuser.lastname%>" data-pk="<%=@coyuser.id %>">  </a>
	</p>

	<p>
		Email<sup>*</sup> : 
		<a  class="inputText" href="javascript:void(0)"  id="c_email" data-name="email" data-type="text"  data-title="Enter Email " data-emptytext="--" data-value="<%=@coyuser.email%>" data-pk="<%=@coyuser.id %>">  </a>
	</p>

	<p>
		Contact Number<sup>*</sup> : 
		<a  class="inputText"  href="javascript:void(0)"  id="c_contactnumber" data-name="contactnumber" data-type="text"  data-title="Enter Contact Number " data-emptytext="--" data-value="<%=@coyuser.contactnumber%>" data-pk="<%=@coyuser.id %>">  </a>
	</p>

	<p>
		Password<sup>*</sup> : 
		<a  class="inputText" href="javascript:void(0)"  id="c_password" data-name="password" data-type="text"  data-title="Enter Password " data-emptytext="--" data-pk="<%=@coyuser.id %>">  </a>
	</p>
</section> <!-- coyUserDetail -->

