
<script>
$.getScript("_/js/loading_scripts/editexperiencetablescript.js");
</script>

<div id = "alert_placeholder-inmodal6"></div>
<p>
  User ID
  <a class="editjob inputText" id="e_pk" href="#" data-emptytext="Select..." data-type="text" data-name="pk" data-value=<%= @exp.tme_skr_main_id %> > </a>
</p>
<p>
  Job ID
  <a class="editjob inputText" id="e_jobid" href="#" data-emptytext="Select..." data-type="text" data-name="jobid" data-value=<%= @exp.skr_emp_id %> > </a>
</p>  
<p>        
  Position
  <a class='editjob inputText' id='e_skr_emp_title' href='#' data-emptytext='Select...' data-type='select' data-name='skr_emp_title' data-original-title='Select Position' data-value=<%= @exp.skr_emp_title %> ></a>
</p>  
<p>        
  Actual Job Title
  <a class="editjob inputText" id="e_skr_emp_actualtitle" href="#" data-emptytext="Enter..." data-type="text" data-name="skr_emp_actualtitle" data-original-title="Enter Actual Job Title" data-value="<%= @exp.skr_emp_actualtitle %>" ></a>
</p>  
<p>        
  Company 
  <a class="editjob inputText" id="e_skr_emp_company" href="#" data-emptytext="Enter..." data-type="text" data-name="skr_emp_company" data-original-title="Enter Company Name" data-value="<%=@exp.skr_emp_company.to_s %>" > </a>
</p>  
<p>         
  Industry
  <a class="editjob inputText" id="e_skr_emp_industry" href="#" data-emptytext="Select..." data-type="select" data-name="skr_emp_industry" data-original-title="Select Industry" data-value=<%=@exp.skr_emp_industry%> > </a>
</p>  
<p>        
  Job Location
  <a class="editjob inputText" id="e_skr_emp_location" href="#" data-emptytext="Select..." data-type="select" data-name="skr_emp_location" data-original-title="Select Job Location" data-value=<%=@exp.skr_emp_location%> > </a>
</p>    
<p>        
  Job Function
  <a class="editjob inputText" id="e_skr_emp_function" href="#" data-emptytext="Select..." data-type="select" data-name="skr_emp_function" data-original-title="Select Job Function" data-value=<%=@exp.skr_emp_function%>  > </a>
</p>    
<p>        
  Is this your Current Job?
  <input type="checkbox" name="currentjob" id="e_currentjobcheck"  <%= @exp.skr_emp_currentjob ? "checked" : "unchecked"%> > 
  <label for="e_currentjobcheck"></label> 
  <a class="editjob" id="e_skr_emp_currentjob" href="#" data-emptytext="Select..." data-type="select" data-name="skr_emp_currentjob" data-value=<%= @exp.skr_emp_currentjob%>></a>
</p>
<p>  
  Start Date
  <a class="editjob inputText" id="e_skr_emp_start" href="#" data-emptytext="Select..." data-type="date" data-placement="right" data-name="skr_emp_start" data-original-title="Enter Start Date"  data-value=<%= @start %> > </a>
</p>    
<p id="e_enddate_block" style="visibility: <%= @exp.skr_emp_currentjob ? "hidden" : "visible" %>;">        
  End Date
  <a class="editjob inputText" id="e_skr_emp_end" href="#" data-emptytext="Select..." data-type="date" data-placement="right" data-name="skr_emp_end" data-original-title="Enter End Date" data-value=<%= @end %> > </a>
</p>  
<p>        
  Description
  <a class="editjob inputText" id="e_skr_emp_desc" href="#" data-name="skr_emp_desc" data-type="wysihtml5"  data-original-title="Enter Job Description" data-value="<%=@exp.skr_emp_desc%>" > </a>
</p>