<script>
$.getScript("/vendor/skredutablescript.js");

</script>

<table id="edusettingtable" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                   <th class="align-center">Title</th>
                   <th class="align-center">Institutions</th>
                   <th class="align-center">Specialty</th>
                   <th class="align-center">Honors</th>
                   <th class="align-center">Start Date</th>
                   <th class="align-center">End Date</th>
                   <th class="align-center"></th>
                </tr>
              </thead>
              <tbody >
                          <% @alleducations.each do |i| %>
                  
                  <!-- If flag is set to delete, break. and find next record -->
                  <% if i.skr_edustatus != 0 %>
                 
                  <tr>
                     <td><%= i.skr_unititle != nil ? @degreemaster.get(i.skr_unititle).degree : " "%></td>
                     <td><%= i.skr_university %></td>
                     <td><%= i.skr_unititle >3 && i.skr_unititle != nil ? @specialtymaster.get(i.skr_specialty).specialty : " "%></td>
                     <td><%= i.skr_unititle >3 && i.skr_unititle != nil ? @honorsmaster.get(i.skr_honours).honors : " "%> </td>
                     
                     <td><%= i.skr_unistart != nil ? i.skr_unistart.strftime("%d/%m/%Y") : " " %></td>
                     <td><%= i.skr_uniend != nil ? i.skr_uniend.strftime("%d/%m/%Y") : " "%></td>
                     <td>
                       <div class=" action-buttons" style="text-align:center" >
                        <a onclick="deledu(this, <%=i.skr_edu_id%>)" class="red" href="javascript:void(0)"> <i class="fa fa-trash-o"></i>Remove</a></td>
                      </div>
                  </tr>
                 <% end %>
                  <% end %>
              </tbody>
            </table>