<script>
$.getScript("/vendor/skredutablescript.js");
</script>

<!-- This table is displayed in /settings.erb under Competencies section --> 
<table id="edusettingtable" class="hover compact">
  <thead>
    <tr>
      <!-- Choose the fields that you want to add or remove from the table. By default, Institutions and Honors are removed from view. Remember to make changes to skredutablescript.js accordingly to reflect the number of columns  -->
      <th>Title</th>
      <!-- <th class="align-center">Institutions</th> -->
      <th>Specialty</th>
      <!-- <th class="align-center">Honors</th> -->
      <th>Start</th>
      <th>End</th>
      <th></th>
    </tr>
  </thead>
  <tbody >
    <% @alleducations.each do |i| %>
    <!-- i.skr_edustatus when record is marked as DELETE. Therefore, do not show on table -->
    <% if i.skr_edustatus != 0 %>
    <tr>
      <td><%= i.skr_unititle != nil ? @degreemaster.get(i.skr_unititle).degree : " "%></td>
      <!-- <td><%= i.skr_university %></td> -->
      <td><%= i.skr_unititle >3 && i.skr_unititle != nil ? @specialtymaster.get(i.skr_specialty).specialty : " "%></td>
      <!-- <td><%= i.skr_unititle >3 && i.skr_unititle != nil ? @honorsmaster.get(i.skr_honours).honors : " "%> </td> -->
      <td><%= i.skr_unistart != nil ? i.skr_unistart.strftime("%d/%m/%Y") : " " %></td>
      <td><%= i.skr_uniend != nil ? i.skr_uniend.strftime("%d/%m/%Y") : " "%></td>
      <td>
        <a onclick="deledu(this, <%=i.skr_edu_id%>)" class="red" href="javascript:void(0)"> 
          <i class="fa fa-trash-o fa-lg"></i>
        </a>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
  </table>