<script>
$.getScript("_/js/loading_scripts/experiencetablescript.js");
</script>

<!-- This table is displayed in /settings.erb under Experiences section --> 
<table id="experiencesettingtable" class="hover compact">
  <thead>
    <tr>
      <th>Position</th>
      <th>Company</th>
      <th>Start</th>
      <th>End</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody >
      <% @allexperiences.each do |i| %>
      <!-- skr_empstatus = 0 when record is marked as DELETE. Therefore, do not show on table -->
      <% if i.skr_empstatus != 0 %>
      <tr>
        <td><%= i.skr_emp_actualtitle %></td>
        <td><%= i.skr_emp_company %></td> 
        <td><%= i.skr_emp_start != nil ? i.skr_emp_start.strftime("%d/%m/%Y") : " " %></td>
        <td><%= i.skr_emp_end != nil ? i.skr_emp_end.strftime("%d/%m/%Y") : " "%></td>
        <td>
            <a href="#editexperiencemodal" data-jobid="<%=i.skr_emp_id%>" data-toggle="modal" data-keyboard="false" data-backdrop="static" role="button">
              <i class="fa fa-pencil fa-lg"></i>
            </a>
        </td> 
        <td>
          <a onclick="delexp(this, <%=i.skr_emp_id%>)" class="red" href="javascript:void(0)"> 
            <i class="fa fa-trash-o fa-lg"></i>
          </a>
        </td>
      </tr>
     <% end %>
     <% end %>
  </tbody>
</table>