<div class="hrmLayout">
  <div id="greeting">
    <header>Welcome back, <%=@mycoy.company_name%> </header>
  </div> <!-- greeting -->

  <section class="jobListing">     
    <header>
      <header>Job Listing</header>
    </header>
    <table id="joblistingtable_hrm" class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th class="text-center" >Job ID</th>
          <th class="text-center">Job Function </th>
          <th class="text-center">Date Posted</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @joblist.each do |i| %>
        <% if i.job_status == 2 %>
        <tr>
          <td><span class="text-center"><%= i.id %></span></td> 
          <td><span class="text-center"> <%= i.job_function %></span></td> 
          <td><span class="text-center"> <%= i.job_posted.strftime("%d/%m/%Y") %></span></td>
          <td><span class="text-center"> <a onclick="viewmatches(<%=i.id%>)" class="red" href="javascript:void(0)"> <i class="fa fa-puzzle-piece"></i>View Matches</a> </span></td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </section>

  <section class="top5Matches">
    <div id="top5matches"></div> 
  </section>

  <section class="matchDetail">   
    <div id="matchdetail"></div>
  </section>

</div> <!-- hrmLayout -->
   


<script type="text/javascript">

$(document).ready(function(){
  $('#joblistingtable_hrm').dataTable({ 
      "scrollY": 200,
      "ScrollX": true,
      "iDisplayLength": 10,
      "order": [[ 0, "desc" ]],
      "scrollCollapse": true,
      "jQueryUI": true,
      "aoColumns": [         
          null, 
          null, 
          null,
         { "bSortable": false }
        ],
      "columns": [
        null,
        null,
        null,
        { "width": "20%" }
      ]
  });

});


  function viewmatches(i){
    $("#top5matches").load("/top5matchestable",{ pk: i }); 
  }//viewmatches

  function showmatchdetail(i,j){
   $("#matchdetail").load("/matchdetail",{ pk: i ,skrid: j}, function(){window.location.hash = '#matchdetail'; }); 
  }//showmatchdetail

</script>
