
<style>



</style>

<div style="background: #ffffff;" class="content-wrapper main-content-toggle-left"> 
	<nav class="cbp-hsmenu-wrapper" id="cbp-hsmenu-wrapper"></nav>

	<!--Breadcrumb-->
      <div class="breadcrumb clearfix">
        <ul>
          <li><a href="/"><i class="fa fa-home"></i></a></li>
          <li><a href="/hrm">Dashboard</a></li>
          <li class="active">My CV</li>
        </ul>
      </div>

	<div id="primary" class="content-area">
		<div class="page-header">
			<h1 class="page-title"><%=@user.firstname %> <%=@user.lastname %></h1>
			<h2 style="text-align: center" class="page-subtitle">
				<ul>
				<li class="job-title">Age: <%=@userprofile.age %></li> 
				<li class="location"><i class="icon-location"></i> <span class="candidate-location"> <%=@cmaster.get(@mynations).country %></span></li> 
				<%= @mynationtypes == 2 ? "<li class='location'> <span class='candidate-location'>Singapore PR</span></li>" : "" %>
					<!-- <li class="date-posted" itemprop="datePosted"><i class="icon-calendar"></i> <date>Updated XXX month ago</date></li> -->
				</ul>
			</h2>
		</div>
		<div id="content" class="container" role="main">
			<article id="post-2111" class="post-2111 resume type-resume status-publish hentry">
			<div class="entry-content">
				<div class="single-resume-content row">
					<div class="job-meta-top row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<aside class="job_listing-widget-top default-widget">
								<img class="candidate_photo" src= <%= @user.pictureurl %> alt="Photo" />
							</aside>
				
						</div>
						<div class="col-md-5 col-sm-6 col-xs-12">		
							<aside class="job_listing-widget-top default-widget">
								<h3 class="job_listing-widget-title-top">My Resume</h3>		
								<a rel="nofollow" href=<%= @userprofile.cvurl %> class="resume-file resume-file-pdf">Download CV</a>
							</aside>
							<aside class="job_listing-widget-top default-widget">
								<h3 class="job_listing-widget-title-top">My skills</h3>
								<% @allskills.each do |i| %>
									<!-- If rank = 1, job-tag = job-tag1  TO BE DONE! also check for top 20 skills. list the expert first followed by others-->
									<% if @allskills.get(i).status != 0 %>
										<div class="job-tag" 
											<% if @allskills.get(i).skillrank == 5 %> style="background-color:#1ABC9C;" 
											<% elsif @allskills.get(i).skillrank == 4 %> style="background-color:#16A085;"  
											<% elsif @allskills.get(i).skillrank == 3 %> style="background-color:#2ECC71;" 
											<% elsif @allskills.get(i).skillrank == 2 %> style="background-color:#27AE60;" 
											<% elsif @allskills.get(i).skillrank == 1 %> style="background-color:#3498DB;" <%end%> >
											<%= @ssmaster.get(i.skillid).skill_name %> 
										</div>
										
										
									<%end%>
								<% end %>
								See more...
							</aside>	
						</div>
						<div class="col-md-4 col-sm-6 col-xs-12">
							<aside class="job_listing-widget-top default-widget">
								<h3 class="job_listing-widget-title-top">My Details</h3>
								<ul class="resume-links">
									<li class="resume-link resume-link-twitter"><a rel="nofollow" href="http://twitter.com/">Twitter</a></li>
									<li class="resume-link resume-link-website"><a rel="nofollow" href="http://website.com/">Website</a></li>
								</ul>
							</aside>
						</div>
					</div>
					<div class="resume_description col-md-12 col-sm-12">
						<h2 class="job-overview-title">Description</h2>
						<%= @userprofile.skr_careergoal %>
						<h3>Achievements</h3>
							<dl class="resume-manager-experience">
								<% @allachievements.each do |i| %>
								<dd>
									<%=i.achievement %>
								</dd>
							</dl>
						<% end %>
					</div>
					<div class="resume-info col-md-12 col-sm-8 col-xs-12">

						<h2 class="job-overview-title">Experience</h2>
						<dl class="resume-manager-experience">
							<% @alljobs.each do |i| %>
								<dt>
									<h3><%= @cmaster.get(@alljobs.get(i).skr_emp_location).country %></h3>
								</dt>
								<dd>
									<small class="date"><%= @alljobs.get(i).skr_emp_start %> to <%= @alljobs.get(i).skr_emp_end %></small>
									<strong class="job_title"><%= @alljobs.get(i).skr_emp_actualtitle %></strong>
									<%= @alljobs.get(i).skr_emp_desc %>
								</dd>
							<% end %>
						</dl>
						<h2 class="job-overview-title">Education</h2>
						<dl class="resume-manager-education">
							<% @alledu.each do |i| %>
							<dt>
								<h3><%= @uni.get(@alledu.get(i).skr_university).university %></h3>
							</dt>
							<dd>
								<small class="date"> <%= @alledu.get(i).skr_unistart %> -  <%= @alledu.get(i).skr_uniend %></small>
								<strong class="qualification"><%= @degree.get(@alledu.get(i).skr_unititle).degree %></strong>
							</dd>
						<% end %>
						</dl>
					</div>
		</div>	<!-- END single-resume-content row -->
	</div> <!-- END entry-content -->

	</article><!-- #post -->
</div>			
		
	</div><!-- #primary -->

	

</div><!-- #main -->

