<script>
$.getScript("_/js/loading_scripts/jobmatchtablescript.js");
</script>

<table id="jobmatchtable" class="hover compact">
  <thead>
    <tr>
       <!-- <th>Job ID</th> -->
       <th>Job Title</th>
       <th>Function</th>
       <th>Company</th>
       <th>My Rank</th>
       <th>Score</th>
    </tr>
  </thead>
  <tbody id="aat" >
    <% @jobmatches.each do |i| %>
    <tr>
      <td><a href=<%=i.jdurl%> target="_blank"><%= i.jobactual %> </a></td>
      <td><%= i.jobfunc %></td>
      <td><%= i.company %> </td>
      <td><%= i.rank %></td>
      <td>
        <a onclick="showMatchDetail(<%=i.jobid%>,<%=@skrid%>)" href="javascript:void(0)">
          <%= i.score %> 
        </a>
      </td>  
    </tr>
    <% end %>
  </tbody>
</table>
