<script>
$.getScript("/vendor/jobmatchtablescript.js");
</script>

<table id="jobmatchtable" class="hover compact">
  <thead>
    <tr>
       <!-- <th>Job ID</th> -->
       <th>Job Function</th>
       <th>Company</th>
       <th>My Rank</th>
       <th>Score</th>
       <th></th>
    </tr>
  </thead>
  <tbody id="aat" >
    <% @jobmatches.each do |i| %>
    <tr>
       <!-- <td><%= i.jobid %> </td> -->
       <td><%= i.jobfunc %> </td>
       <td><%= i.company %> </td>
       <td><%= i.rank %></td>
       <td><%= i.score %> </td>
       <td>
        <div class="action-buttons">
          <a onclick="showMatchDetail(<%=i.jobid%>,<%=@skrid%>)" class="red" href="javascript:void(0)"> <i class="fa fa-external-link fa-lg"></i></a>      
        </div>
       </td>  
    </tr>
    <% end %>
  </tbody>
</table>
