<script>
$.getScript("/vendor/langtablescript.js");
</script>

<!-- This table is displayed in /settings.erb under Competencies section --> 
<table id="languagesettingtable" class="hover compact">
  <thead>
    <tr>
      <th>Language</th>
      <th>Spoken Skill</th>
      <th>Written Skill</th>
      <th></th>
    </tr>
  </thead>
  <tbody >
    <% @alllanguages.each do |i| %>  
    <!-- @alllanguages.get(i).skr_status when record is marked as DELETE. Therefore, do not show on table -->
    <% if @alllanguages.get(i).skr_status != 0 %>
    <tr>
      <td><%= @lmaster.get(i.skr_lang).language%></td>
      <td>
        <a class="skr_lang_speakskill" href="javascript:void(0)" class="editable-click" data-name="skr_lang_speakskill" data-type="select" data-pk="<%= i.skr_lang_id%>" data-url="/updateLangSkill" data-source="[{value: 2, text: 'Basic'}, {value: 3, text: 'Intermediate'}, {value: 4, text: 'Advance'}, {value: 5, text: 'Expert'}]"   data-title="Enter spoken skill level">  <%= @sr.get(i.skr_lang_speakskill).skillrankname %>
        </a>
      </td>
      <td>
        <a class="skr_lang_writeskill" href="javascript:void(0)" class="editable-click" data-name="skr_lang_writeskill" data-type="select" data-pk="<%= i.skr_lang_id%>" data-url="/updateLangSkill" data-source="[{value: 2, text: 'Basic'}, {value: 3, text: 'Intermediate'}, {value: 4, text: 'Advance'}, {value: 5, text: 'Expert'}]"   data-title="Enter written skill level">  <%= @sr.get(i.skr_lang_writeskill).skillrankname %>
        </a>
      </td>
      <td>
        <a onclick="dellanguage(this, <%=i.skr_lang_id%>)" href="javascript:void(0)"> 
          <i class="fa fa-trash-o fa-lg"></i>
        </a>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>