<script>
$.getScript("/vendor/langtablescript.js");

</script>

<table id="languagesettingtable" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                   <th class="align-center">Language</th>
                   <th class="align-center">Spoken Skill Level</th>
                   <th class="align-center">Written Skill Level</th>
                   <th class="align-center"></th>
                </tr>
              </thead>
              <tbody >
                  <% @alllanguages.each do |i| %>  
                  <!-- If flag is set to delete, break. and find next record -->
                  <% if @alllanguages.get(i).skr_status != 0 %>
                 
                  <tr>
                     <td><%= @lmaster.get(i.skr_lang).language%></td>
                     
                     <td><a class="skr_lang_speakskill" href="javascript:void(0)" class="editable-click" data-name="skr_lang_speakskill" data-type="select" data-pk="<%= i.skr_lang_id%>" data-url="/updatelang_speakskill" data-source="[{value: 2, text: 'Basic'}, {value: 3, text: 'Intermediate'}, {value: 4, text: 'Advance'}, {value: 5, text: 'Expert'}]"   data-title="Enter spoken skill level">  <%= @sr.get(i.skr_lang_speakskill).skillrankname %>
                     </a></td>

                    <td><a class="skr_lang_writeskill" href="javascript:void(0)" class="editable-click" data-name="skr_lang_writeskill" data-type="select" data-pk="<%= i.skr_lang_id%>" data-url="/updatelang_writeskill" data-source="[{value: 2, text: 'Basic'}, {value: 3, text: 'Intermediate'}, {value: 4, text: 'Advance'}, {value: 5, text: 'Expert'}]"   data-title="Enter written skill level">  <%= @sr.get(i.skr_lang_writeskill).skillrankname %>
                     </a>
                     </td>

                     <td>
                       <div class=" action-buttons" style="text-align:center" >
                        <a onclick="dellanguage(this, <%=i.skr_lang_id%>)" class="red" href="javascript:void(0)"> <i class="fa fa-trash-o"></i>Remove</a></td>
                      </div>
                  </tr>

                 <% end %>
                  <% end %>
              </tbody>
            </table>