<header>
  Match Detail
</header>


<section class="SeekerDetail">
  <header>
    Job Seeker Detail
  </header>
  <a href="/j_mycv?pk=<%=@skr_id%>"><span style="" class="btn dark-blue-btn btn-primary">
    <i class="fa fa-suitcase"></i> Online CV 
  </a>     
  <table class="table table-striped table-hover margin-0px airtable">
    <thead>
      <tr>
        <th >ID</th>
        <th >Name </th>
        <th >Contact </th>
        <th >Email </th>
        <th >Age </th>
        <th >Gender </th>
        <th >Availability </th>
        <th >Current Salary </th>
      </tr>
    </thead>
    <tbody>
      <% @skrdetail_pers.each do |i| %>
        <td> <%= i.seekervalue %></td>      
      <% end %>
    </tbody>
  </table>
</section>

<section class="rankDetail">
  <header>How was the Job Seeker is Ranked</header>
  <table class="table table-striped table-hover margin-0px airtable">
    <thead>
      <tr>
        <th >Description</th>
        <th >job spec </th>
        <th >seeker detail</th>
        <th >score</th>
      </tr>
    </thead>
    <tbody>
      <% @skrdetail.each do |i| %>
      <tr>
        <td><span class="text-center"> <%= i.fieldname %></span></td>                       
        <td><span class="text-center"> <%= i.jobvalue %></span></td>
        <td><span class="text-center"> <%= i.skrvalue %></span></td>
        <td><span class="text-center"> <%= i.score %></span></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</section>


