
<h1>
  Match Detail
</h1>
<section class="SeekerDetail">
  <header>
    Job Seeker Information
  </header>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th >ID</th>
        <th >Name </th>
        <th >Contact </th>
        <th >Email </th>
        <th >Age </th>
        <th >Gender </th>
        <th >Availability </th>
        <th >Current Salary (S$) </th>
      </tr>
    </thead>
    <tbody>
      <% @skrdetail_pers.each do |i| %>
        <% if i.fieldname!="CV URL" %>
            <td> <%= i.seekervalue %></td>
        <%end%> <!--CV URL -->
      <% end %> <!-- each -->
    </tbody>
    <a href="j_mycv?pk=<%=@skrid.to_i%>" target="_blank"><button class="btn btn-primary">Candidate's Online CV</button></a>
  </table>
  


</section>

<section class="rankDetail">
  <header>Ranking Detail</header>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th >Description</th>
        <th >job spec </th>
        <th >seeker detail</th>
        <th >score</th>
      </tr>
    </thead>
    <tbody>
      <% @skrdetail.each do |i| %>
      <tr>
        <td><%= i.fieldname %></td>                       
        <td><%= i.jobvalue %></td>
        <td><%= i.skrvalue %></td>
        <td><%= i.score %></td>
      </tr>
      <% end %>
    </tbody>
  </table> <!-- rankDetail -->
</section>


