<script>
$.getScript("_/js/loading_scripts/tablescript.js");

</script>

<!-- This table is displayed in /settings.erb under Competencies section --> 
<table id="skillsettingtable" class="hover compact">
  <thead>
    <tr>
      <th>Category</th>
      <th>Name</th>
      <th>Rank</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="aat" >
    <% @allskills.each do |i| %>
    <!-- @allskills.get(i).status= 0 when record is marked as DELETE. Therefore, do not show on table -->
    <% if @allskills.get(i).status != 0 %>
    <tr>
      <td><%= @scmaster.get(@ssmaster.get(i.skillid).skillcategory_id).categoryname%></td>
      <td><%= @ssmaster.get(i.skillid).skill_name %> </td>
      <td>
        <a class="skillrank" href="javascript:void(0)" class="editable-click" data-name="skillrank" data-type="select" data-pk="<%= @allskills.get(i).id%>" data-url="/updateskillrank" data-source="[{value: 2, text: 'Basic'}, {value: 3, text: 'Intermediate'}, {value: 4, text: 'Advance'}, {value: 5, text: 'Expert'}]"   data-title="Enter skill rank">  <%= @sr.get(i.skillrank).skillrankname %>
        </a>
      </td> 
      <td>
        <a onclick="delskill(this, <%=i.id%>)" class="red" href="javascript:void(0)"> 
          <i class="fa fa-trash-o fa-lg"></i>
        </a>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>


