<header>
  Top 5 Candidate Matches for Job ID #<%= @jobid %>
</header>                    
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th >Match Rank</th>
      <th >Job Seeker ID </th>
      <th >Match Score</th>
      <th></th>
    </tr>
  </thead>
  <tbody> 
    <% @top5matches.each do |i| %>
    <tr>
      <td><%= i.skrrank %></td> 
      <td><%= i.skrid %></td>
      <td><%= i.score %></td>
      <td>
        <div class="action-buttons">
          <a onclick="showmatchdetail(<%=@jobid%>,<%=i.skrid%>)" class="red" href="javascript:void(0)"> 
            <i class="fa fa-external-link"></i>Show Detail
          </a>  
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

                  