<div class="adminSeekerProfileEditLayout">
  <h1>Job Seeker Setup</h1>
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#edit-basic">
        <i class="green icon-edit bigger-125"></i>
        Basic Info
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="#edit-password">
        <i class="blue icon-key bigger-125"></i>
        Password
      </a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="edit-basic" class="tab-pane active">
      <section class="Profile">
        <h2>Profile</h2>
                                 
        <p>
          First Name: 
          <a class="inputText"  href="javascript:void(0)" id="firstname" data-type="text" data-pk="<%=@user.id %>" data-url="/updateprofile" data-title="Enter first name" data-value="<%= @user.firstname %>"></a>
        </p>

        <p>
          Middle Name:
          <a class="inputText" href="javascript:void(0)" id="middlename" data-type="text" data-pk="<%=@user.id %>" data-url="/updateprofile" data-title="Enter middle name" data-value="<%= @user.middlename %>"></a>  
        </p>

        <p>
          Last Name:
          <a class="inputText" href="javascript:void(0)" id="lastname" data-type="text" data-pk="<%=@user.id %>" data-url="/updateprofile" data-title="Enter last name" data-value="<%= @user.lastname %>"></a> 
        </p>

        <p>
          Date of Birth
          <input readonly="true" type="text" name="date-range-picker" id="id-date-range-picker-1" value="<%= @userprofile.dob != nil ? @userprofile.dob.strftime("%d/%m/%Y") : "" %> "  class="span4"></input> <div id="saving_date"></div>
        </p>
        
        <p>
          I am Married
          <input id="marriedcheck" name="married" type="checkbox"  <%= @userprofile.married == true ? "checked" : "unchecked" %> /> 
          <label for="marriedcheck"></label>
        </p>

        <p>
          Gender:
          <a class="inputText" href="javascript:void(0)"  id="gender" data-type="select" data-pk="<%=@userprofile.id %>" data-url="/updatetmeprofile" data-title="Enter gender"><%= @userprofile.gender == 1 ? "Male" : "Female" %> </a>
        </p>

        <p>
          Nationality:
          <a class="inputText" href="javascript:void(0)" id="nationality" data-type="select" data-pk="<%=@userprofile.id %>" data-url="/updatenationality" data-title="Enter nationality"><%= @mynations != nil ? @cmaster.get(@mynations).country : "" %> </a>
        </p>
       
        <p id="spr_block" style="visibility: visible">  
          Singapore PR?
          <input id="sprcheck" name="skr_nation_type" type="checkbox"  <%= @mynationtypes == 2 ? "checked" : "unchecked" %> /> 
          <label for="sprcheck"></label>
        </p>
      </section> <!-- Profile -->

      <section class="ContactInfo">
        <h2>Contact Information</h2>
        <p>
          Mobile #: 
          <a class="inputText" href="javascript:void(0)"  id="contactnumber" data-type="text" data-pk="<%=@user.id %>" data-url="/updateprofile" data-title="Enter mobile number" data-value="<%= @user.contactnumber %>"> </a> 
        </p>

        <p>
          Address:
          <a class="inputText" href="javascript:void(0)"  id="address" data-type="text" data-pk="<%=@userprofile.id %>" data-url="/updatetmeprofile" data-title="Enter address" data-value="<%= @userprofile.address %>">   </a>
        </p>
                            
        <p>
          Email:
          <a class="inputText" href="javascript:void(0)"  id="email" data-type="text" data-pk="<%=@user.id %>" data-url="/updateprofile" data-title="Enter email address"><%= @user.email %>   </a>
        </p>
      </section> <!-- contactInfo -->

      <section class="socialNetwork">
        <h2>Social Network</h2>
        <p>
          LinkedIn: 
          <a class="inputText" href="javascript:void(0)"  id="linkedin" data-type="text" data-pk="<%=@userprofile.id %>" data-url="/updatelinkedin" data-title="Enter LinkedIn address"><%= @linkedin%>   </a>
        </p>
        
        <p>
          Facebook:
          <a class="inputText" href="javascript:void(0)"  id="facebook" data-type="text" data-pk="<%=@userprofile.id %>" data-url="/updatefacebook" data-title="Enter Facebook address"><%= @facebook%>   </a>
        </p>  

        <p>
          Twitter:         
          <a class="inputText" href="javascript:void(0)"  id="twitter" data-type="text" data-pk="<%=@userprofile.id %>" data-url="/updatetwitter" data-title="Enter Twitter address"><%= @twitter%>   </a>
        </p>                
      </section> <!-- socialNetwork -->
    </div> <!-- edit-basic -->

    <div id="edit-password" class="tab-pane">
      <div id="alert_password"></div>
      <p>
        New Password
        <a href="#" class="newpassword inputText" id="password-1"  data-emptytext="Enter password" data-type="text" data-name="password-1" data-original-title="Enter new password"></a>
      </p>
      <p>
        Re-enter password
        <a href="#" class="newpassword inputText " id="password-2"  data-emptytext="Enter password" data-type="text" data-name="password-2" data-original-title="Enter new password"></a> 
      </p>
      <button id="savepassword-btn" class="btn btn-primary"><i class="icon-save bigger-140 icon-only">Save New Password </i></button>
    </div> <!-- edit-password -->
  </div> <!-- tab-content -->

</div> <!-- adminSeekerProfileEditLayout -->

        

<script type="text/javascript">


$(document).ready(function(){

  $('#password-1').editable();
  $('#password-2').editable();

  $.fn.editable.defaults.mode = 'popup';  
  $('#firstname').editable({
    inputclass : 'mytextarea'
  });
  $('#lastname').editable({
    emptytext: '--',
    // placeholder: '[Optional] Enter your achievement here'
  });
  $('#middlename').editable({
    emptytext: '--',
    // placeholder: '[Optional] Enter your achievement here'
  });
  $('#gender').editable({   
    source: [
      {value: "1", text: 'Male'},
      {value: "2", text: 'Female'},
    ]
  });
  $('#contactnumber').editable({

    emptytext: '--',
    // placeholder: '[Optional] Enter your achievement here'

  });
  $('#address').editable({
    tpl: "<input type='text' style='width: 700px';height:500px>",
    emptytext: '--',
    // placeholder: '[Optional] Enter your achievement here'

  });
  $('#email').editable({
    tpl: "<input type='text' style='width: 500px';height:500px>",
    emptytext: '--',
    // placeholder: '[Optional] Enter your achievement here'

  });
  $('#nationality').editable({
       source: function() {
            return (<%= @countries %>)
          },
       success: function(response, newValue) {
          
          if (newValue != 157){  //we only look at Singapore at the moment.
             document.getElementById( 'spr_block' ).style.visibility = 'visible'; 
          };

          if (newValue == 157){
            document.getElementById( 'spr_block' ).style.visibility = 'hidden'; 
          } ;
        } //success
  });
  $('#linkedin').editable({
    tpl: "<input type='text' style='width: 500px';height:500px>",
    emptytext: '--',
    // placeholder: '[Optional] Enter your achievement here'
  });
  $('#facebook').editable({
    tpl: "<input type='text' style='width: 500px';height:500px>",
    emptytext: '--',
    // placeholder: '[Optional] Enter your achievement here'
  });
  $('#twitter').editable({
    tpl: "<input type='text' style='width: 500px';height:500px>",
    emptytext: '--',
    // placeholder: '[Optional] Enter your achievement here'

  });

  var nation=document.getElementById( 'nationality' ).textContent;
  if (nation.indexOf("Singapore") > -1){
    document.getElementById( 'spr_block' ).style.visibility = 'hidden'; 
  } else
  {
    document.getElementById( 'spr_block' ).style.visibility = 'visible'; 
  }; 

  $('.date-picker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
    $(this).prev().focus();
  });
         
  $('input[name="date-range-picker"]').daterangepicker({
  timePicker: false,
  singleDatePicker: true,
  showDropdowns: true,
  maxDate: '31/12/2000',
  minDate: '01/01/1900',
  format: 'DD/MM/YYYY',
  }, function(start, end, label) {
    console.log(moment(start.format('YYYY-MM-DDTHH:mm:ss') + 'Z').utc().toISOString());
    from = moment(start.format('YYYY-MM-DDTHH:mm:ss') + 'Z').utc().toISOString();
     $.ajax({
        url: '/updatedob',
        type: 'POST',
        data: {"dob": from, "pk" : <%=@userprofile.id %>},
        beforeSend : function(){
          $("#saving_date").html("<div id='saver'><i class='fa fa-spinner fa-spin'></i></div>");
        },  
        success: function(response){
                    // newAlert("#alert_placeholder-tab", 'success', "Dates recorded");
                     $('#saver').fadeOut(1000, function() {
                      $(this).remove();
                     });
                  }
      });
  });       

 
});

</script>
<script>
      $("#sprcheck").on('change', function(){
          $.ajax({
            url: '/updatespr',
            type: 'POST',
            data: {"singaporepr": this.checked, "pk" : <%=@userprofile.id %>}
          });
      });
      
      $("#marriedcheck").on('change', function(){
          $.ajax({
            url: '/updatemarried',
            type: 'POST',
            data: {"married": this.checked, "pk" : <%=@userprofile.id %>}
          });
      });

      $("#id-date-picker-1").on('change', function(){
          $.ajax({
            url: '/updatedob',
            type: 'POST',
            data: {"dob": this.value, "pk" : <%=@userprofile.id %>}
            
          });
      });   


      $('#savepassword-btn').click(function() {
         $('.newpassword').editable('submit', {
             url: '/newpassword',
             data: {"pk" : <%=@user.id%>},
             ajaxOptions: {
                 dataType: 'json' //assuming json response
             },       
             success: function(data, config) {
             
                  if(data && data.errors){
                       //server-side validation error, response like {"errors": {"username": "username already exist"} }
                       // config.error.call(this, data.errors);
                       newAlert("#alert_password",'danger', data.errors);

                 }   else{

                      newAlert("#alert_password",'success', 'Password Changed!!!');

                      $('.newpassword').editable('setValue', null);  //clear values
                     

                 }   
             },
             error: function(errors) {
                 var msg = '';
                 if(errors && errors.responseText) { //ajax error, errors = xhr object
                     msg = errors.responseText;
                     //We do not have any response text from backend at the moment
                 } else { //validation error (client-side or server-side)
                     $.each(errors, function(k, v) {
                      if (k=="password-1") {k = "Password"};
                      if (k=="password-2") {k = "Password confirmation"};
                      msg += k+": "+v+"<br>";
                    });
                     newAlert("#alert_password",'danger', msg);
                  
                 }
              
             }
         });
      });

</script>

