<div class="jobManagementLayout">
  <div id="greeting">
    <%=@mycoy.company_name%>
  </div> <!-- greeting -->

    <div id ="loading"></div>
    <ul class="nav nav-tabs">
      <li class="active">
        <a id="activeclick" data-toggle="tab" href="#jobposting">
          Active/Draft
        </a>
      </li>
      <li>
        <a id="closedclick" data-toggle="tab" href="#archivedjobs">
          Closed/Cancelled
        </a>
      </li>
    </ul>
    <div class="tab-content">
      <div id="jobposting" class="tab-pane in active">
        <a id="newjobbutton" href="#" >
          <span class="btn btn-primary">Post a New Job</span>
        </a> 
          
          <div id="jobTable"></div>
          <div id="jobdetail"></div>
      </div> <!-- class="tab-pane"> -->
    </div> <!-- <div class="tab-content profile-edit-tab-content"> -->
</div> <!-- jobManagementLayout -->



<div class="modal fade" id="alert_coysuspended">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Company has been suspended</h4>
      </div>
      <div class="modal-body">
        <p>Job Posting is no longer available. Please contact us to reinstate your company account at support@jorb.co</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script type="text/javascript">

  $(document).ready(function(){
    // document.getElementById('jobposting').scrollIntoView() ; 
    $("#loading").html("<div class='spinner'></div>"); 
    $("#jobTable").load("/activejobtable",{i: new Date().getTime(), coyid: <%=@mycoy.id%>}, function(){
      $('.spinner').fadeOut(1000, function() {$(this).remove();});
    }); 
    
    $('#jobTable').editable({ //used in activejobtable.erb when usertype==3 (Admin)
      selector: 'a.job_suspended',
      showbuttons: false,
      success: function(response, newValue) {
        $("#jobTable").load("/activejobtable",{i: new Date().getTime(), coyid: <%=@mycoy.id%>},function(){ 
          $("html, body").animate({ scrollTop: $(document).height() }, "slow");
        });
        } //jobTable
    }); //company_suspended
  }); //document.ready

  function showjobdetail(i){
    $("#loading").html("<div class='spinner'></div>");
    $("#jobdetail").html("");
    
    $("#jobdetail").load("/jobdetail",{ pk: i, coyid: <%=@mycoy.id%> }, function() {
      $.getScript("_/js/loading_scripts/jobdetailscript.js");
      window.location.hash = '#aa';
      window.location.hash = '#jobdetail';

    }); //jobdetail 
  }//showjobdetail

  function deljob(i){
    $.ajax({
      url: '/deletejob',
      type: 'POST',
      data: {"pk" : i}, 
      success: function(response){  
        $("#jobTable").load("/activejobtable",{i: new Date().getTime(), coyid: <%=@mycoy.id%>});   
      } //success
    }); //ajax
  }//deljob

  $('#activeclick').on("click", function() {
    $("#jobdetail").html("");
    $("#jobTable").load("/activejobtable",{i: new Date().getTime(), coyid: <%=@mycoy.id%>}); 
  }); //activeclick

  $('#closedclick').on("click", function() {
    $("#jobdetail").html("");
    $("#jobTable").load("/closedjobtable",{i: new Date().getTime()}); 
  }); //closedclick

  $('#newjobbutton').on("click", function() {
    if (<%= @mycoy.company_suspended %> == false){   
      $("#loading").html("<div class='spinner'></div>");
      $.getJSON("/newjob", {"value": "<%=@mycoy.id%>"}, function (result) {
        $("#jobdetail").load("/newjobdetail",{i: new Date().getTime(), pk: result.jobid, coy: result.mycoy}, function(){
          $.getScript("_/js/loading_scripts/newjobdetailscript.js");
          window.location.hash = '#aa'; 
          window.location.hash = '#jobdetail'; 
        });  
        // $("#jobTable").load("/activejobtable",{i: new Date().getTime()});           
      }).fail(function(d, textStatus, error) {
        console.error("Something wrong. Please report this status: " + textStatus + ", error: "+error)
      });  //fail
    } //if
    else {
      $('#alert_coysuspended').modal('show')
    }
  }); //newjobbutton


</script>

