<div class="cvLayout">
	<section class="Main">
		<header>
			<%=@user.firstname %> <%=@user.middlename %> <%=@user.lastname %>
		</header>

		<div class="avatar-frame">
          <img alt="Avatar" src=<%= @user.pictureurl %> />
        </div>

		<div class="Detail">
			<ul>	
				<li>Age: <%=@userprofile.age %> </li>
				<li> Nationality: <%=@cmaster.get(@mynations).country %></li>
				<li>Mobile #: <%=@user.contactnumber%></li>
				<li>Email Address:</li>
			</ul>
		</div>	
	</section> <!-- Main -->

	<section class="Skills">
		<header>My skills</header>
		<% @allskills.each do |i| %>
			<!-- If rank = 1, job-tag = job-tag1  TO BE DONE! also check for top 20 skills. list the expert first followed by others-->
			<% if @allskills.get(i).status != 0 %>
					<%= @ssmaster.get(i.skillid).skill_name %>,
			<%end%>
		<% end %>
		... 
		<a href="#cvSkillModal" data-userid="<%=@userprofile.id%>" data-toggle="modal" role="button">
              <div class="btn dark-blue-btn btn-primary">
                See more skills
              </div>
        </a> <!-- cvSkillModal -->
	</section> <!-- Skills -->


	<section class="Achievements">
		<header>Achievements</header>
		<dl>
		<% @allachievements.each do |i| %>
			<dd>
				<%= i.achievement %>
			<dd>
		<% end %>
		</dl>
	</section> <!-- Achievements -->

	<section class="Experiences">
		<header>Experience</header>
		<dl>
			<% @alljobs.each do |i| %>
				<% if i.skr_empstatus != 0  %>
				<dt>
					<h3><%= i.skr_emp_actualtitle %></h3>
				</dt>
				<dd>
					<p>From <%= @alljobs.get(i).skr_emp_start %> to <%= @alljobs.get(i).skr_emp_end %>
					in <%= @cmaster.get(@alljobs.get(i).skr_emp_location).country %></p>
					<p><%= i.skr_emp_desc %></p>
				</dd>
			 	<% end %>
			<% end %>
		</dl>
	</section> <!-- Experiences -->

	<section class="Education">
		<header>Education</header>
			<dl>
				<% @alledu.each do |i| %>
				 <% if i.skr_edustatus != 0 %>
					<dt>
						<h3><%= @alledu.get(i).skr_university != nil ? @uni.get(@alledu.get(i).skr_university).university : "" %></h3>
					</dt>
					<dd>
						<p><strong><%= @degree.get(@alledu.get(i).skr_unititle).degree %></strong>
						<small> <%= @alledu.get(i).skr_unistart.strftime("%d-%m-%Y").to_s %> -  <%= @alledu.get(i).skr_uniend.strftime("%d-%m-%Y").to_s %></small></p>
					</dd>
				 <% end %>
				<% end %>
			</dl>
	</section> <!-- Education -->
</div> <!-- cvLayout -->

<div class="modal fade" id="cvSkillModal" >
	<div class="modal-dialog">
    	<div class="modal-content">
	      	<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<header>All My Skills</header>
			</div> <!-- modal-header -->
			<div class="modal-body">   
				<div id="cvSkillModalBody"></div>
			</div> <!-- modal-body -->
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
    	</div> <!-- modal-content -->
	</div><!-- modal-dialog -->
</div><!-- addskillmodal  --> 



<script>
	      //triggered when modal is about to be shown
      $('#cvSkillModal').on('shown.bs.modal', function(e) {

          //get data-id attribute of the clicked element
          var jobid = $(e.relatedTarget).data('jobid');
          $("#cvSkillModalBody").load("/getcvskill",  {"pk": <%= @user.id %>});
      });
</script>
