<div class="settingsLayout">
  <h1>Career Profile of <%= @user.firstname %> <%= @user.lastname %></h1> 
    <div class="Instructions">
    Jorb will match jobs that matches your career profile. Please provide as much detail as possible<br><br>
    We understand that you cannot possibly enter all detail in one go. Therefore, we have create a real time update
    mechanism that allows you to update any fields at any time, at your convenience.<br><br>
    No SAVE or SUBMIT Button - Your entry is updated live and Jorb will use your latest update for job matching!<br>

    <p>Click <span class="helpCircle"><i class="fa fa-question"></i></span> for explanation</p>    
    
</div> <!-- Instructions -->
  <div id ="loading"></div>
  <section class="searchStatus">
    <header>
      Job Search Status
      <a href="#helpmodal-status" data-pk=<%= @user.id %> data-toggle="modal" role="button">
        <span class="helpCircle">
          <i class="fa fa-question"></i>
        </span>
      </a> <!-- helpmodal-status -->

    </header>
    <!-- <span>Activate Job Search</span>
    <input type="checkbox" name="activeseeker" id="activecheck"  <%= @userprofile.activeseeker ? "checked" : "unchecked" %>>
    <label for="activecheck"></label>  -->
    <!-- <div id="spr_block" style="visibility: <%= @userprofile.activeseeker ? "visible" : "hidden" %>;" > 
      <span>I am available in Singapore for interviews on these dates:</span>
      <input type="checkbox" name="insingaporenow" id="insgcheck" <%= @userprofile.insingaporenow ? "checked" : "unchecked" %>>
      <label for="insgcheck"></label> 
      <div id="insg_block" style="visibility: <%= @userprofile.insingaporenow ? "visible" : "hidden" %>; display:inline" > 
        <span>on these dates</span><input type="text" value="10/03/2005 - 14/04/2005 " class="datePicker" name="date-range-picker" readonly="true">
      </div>      
    </div> --> <!--spr_block -->
    <p>Availability (months):
      <a class="inputText" href="#" id="availability" data-name="availability" data-type="select" data-pk="<%=@userprofile.id %>" data-url="/updatetmeprofile" data-source="[{value: 1, text: 'Immediate'}, {value: 2, text: '1 Month'}, {value: 3, text: '2 Months'}, {value: 4, text: '3 Months'}, {value: 5, text: '>3 Months'}]" data-title="Enter your availability"><%= @userprofile.availability %></a>
    </p>
  </section> <!--searchStatus --> 

  <section class="CV">
    <header>CV / Résumé</header>
    <!--Uncomment the following to allow users to view their uploaded CV. You will need to create additional logic to determine if there is existing file. If no file exist, we recommend you to prompt users to upload CV -->
    <!--         
    <span id="CVsection"> 
      <a href=<%= @userprofile.cvurl %> target="_blank" > 
        <i class="fa fa-file-text-o"><br><div>My CV</div></i> 
      </a>
    </span> -->
    <p>
      Your uploaded CV will be made available to Recruiters/Companies when you are matched to a posted job. 
      <% if @userprofile.cvurl !="" %>
        <a href=<%= @userprofile.cvurl %> target="_blank" > Click here to view your CV</a>
      <%else%>
        You do not have a CV uploaded at the moment.
      <%end%>
    </p>
    <script src='_/js/jqueryfileupload/jquery.ui.widget.js' type='text/javascript'></script>
    <script src='_/js/jqueryfileupload/jquery.iframe-transport.js' type='text/javascript'></script>
    <script src='_/js/jqueryfileupload/jquery.fileupload.js' type='text/javascript'></script>
    <script src='_/js/jqueryfileupload/jquery.fileupload-process.js' type='text/javascript'></script>
    <script src='_/js/jqueryfileupload/jquery.fileupload-validate.js' type='text/javascript'></script>
    <script src='_/js/cloudinary/jquery.cloudinary.js' type='text/javascript'></script>
    <script type="text/javascript">$.cloudinary.config({cloud_name:'dashy', api_key:'219441847515364'}); </script>

    <div class="btn dark-blue-btn btn-primary fileinput-button">
      <div id="uploadProgress">
        <i class="glyphicon glyphicon-plus"></i> Upload new CV
      </div> 
      <input name="file" type="file" id="fileupload" class="cloudinary-fileupload" data-cloudinary-field="image_upload" >
    </div>

    <script type="text/javascript">
      $(function(){
        $('#fileupload').fileupload({
            add: function (e, data) {
                $.getJSON('/filer_cv', { userid: <%= @user.id %>}, function (result) {
                    data.formData = result; // e.g. {id: 123}
                    data.submit();
                }).fail( function(d, textStatus, error) {
                    console.error("Error! Please contact helpdesk. Status: " + textStatus + ", error: "+error)
                });
            },
            url: "https://api.cloudinary.com/v1_1/dashy/upload",
            acceptFileTypes: /(\.|\/)(doc?x|pdf|txt)$/i, 
            // The maximum allowed file size in bytes:
            maxFileSize: 10000000, // 10 MB
            // The minimum allowed file size in bytes:
            minFileSize: 1, // No minimal file size
            // The limit of files to be uploaded:
            maxNumberOfFiles: 10
          })
        });

        $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) { 
           $.ajax({
                url: '/cvuploaded',
                type: 'POST',
                data: {"cvurl": data.result.url, "pk" : <%=@user.id %>},
                success: function(response){
                  tt = "<a href=".concat(data.result.url,"><i style='font-size: 25px;' class='fa fa-file-text-o'><br><div style='font-size: 14px;left:-10px;position:relative'>My CV</div></i></a>");
                  $('#CVsection').html(tt);
                            $("#uploadprog").html("Uploading is complete!");
                            $('#uploadprog').fadeOut(3000, function() {
                              $(this).remove();
                              $("#uploadProgress").html("<i class='glyphicon glyphicon-plus'></i> <span >Upload new CV</span>");
                             });
                
                }
           }); //ajax
           return true;
        }); //cloudinary done

        $('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) {
          $("#uploadProgress").html("<div id='uploadprog'> <i class='fa fa-spinner fa-spin'></i>Uploading in progress</div> </div>");
        });

        $('.cloudinary-fileupload').bind('fileuploadstop', function(e, data) {

        });

         $('.cloudinary-fileupload').bind('fileuploadfail', function(e, data) {
            alert(data.files[0].error);
        });
    </script> <!-- cloudinary scripts -->


  </section> <!-- CV -->


  <section class="jobPreferences">
    <header>Job Preferences</header>
    <p>Current monthly salary:S$
      <a class="inputText" href="#" id="currentsalary" data-name="currentsalary" data-type="text" data-pk="<%=@userprofile.id %>" data-url="/updatetmeprofile" data-title="Enter current salary"><%= @userprofile.currentsalary %></a>
    </p>
    <p>Expected monthly salary:S$ 
      <a class="inputText" href="#" id="expectedsalary" data-name="expectedsalary" data-type="text"  data-pk="<%=@userprofile.id %>" data-url="/updatetmeprofile" data-title="Enter expected salary"><%= @userprofile.expectedsalary %></a>
    </p>   
    <p>Levels:
      <a class="inputText" href="#" id="joblevel" data-type="select2" data-value="<%= @pref_level%>"  data-pk="<%=@user.id %>" data-url="/updatelevelpref" data-title="Enter preferred job level"></a>
    </p>
    <p>Functions:
      <a class="inputText" href="#" id="jobfunction" data-type="select2" data-value="<%= @pref_func %>"  data-pk="<%=@user.id %>" data-url="/updatefuncpref" data-title="Enter preferred job functions"></a>
    </p>
    <p>Industries:
      <a class="inputText" href="#" id="industries" data-type="select2" data-value="<%= @pref_ind %>"  data-pk="<%=@user.id %>" data-url="/updateindpref" data-title="Enter preferred industries"></a>
    </p>
    <p>Locations:         
      <a class="inputText" href="#" id="locations" data-type="select2" data-value="<%= @pref_loc %>"  data-pk="<%=@user.id %>" data-url="/updatelocpref" data-title="Enter preferred locations"></a>
    </p>
    <p>Travel Frequency:
      <span>0%</span><input name= "freq" id="f0" type="radio" onclick="freqcheck(this)"  value="25"> 
      <span>25%</span><input name= "freq" id="f1" type="radio" onclick="freqcheck(this)"  value="25"> 
      <span>50%</span><input name= "freq" id="f2" type="radio" onclick="freqcheck(this)"  value="50">
      <span>75%</span><input name= "freq" id="f3" type="radio" onclick="freqcheck(this)"  value="75"> 
      <span>100%</span><input name= "freq" id="f4" type="radio" onclick="freqcheck(this)"  value="100"> 
    </p>
    <p>
      Job Types:
      <span>Full Time</span><input type="checkbox" name="fulltime" id="fulltimecheck"   <%= @userprofile.fulltime.to_s == "true" ? "checked" : "unchecked" %>><label for="fulltimecheck"></label>
      <span>Part Time</span><input type="checkbox" name="parttime" id="parttimecheck"   <%= @userprofile.parttime.to_s == "true" ? "checked" : "unchecked" %>><label for="parttimecheck"></label>
      <span>Shift Work</span><input type="checkbox" name="shiftwork" id="shiftworkcheck" <%= @userprofile.shiftwork.to_s == "true" ? "checked" : "unchecked" %>><label for="shiftworkcheck"></label>
      <span>Internship</span><input type="checkbox" name="skr_intern" id="interncheck"   <%= @userprofile.skr_intern.to_s == "true" ? "checked" : "unchecked" %>><label for="interncheck"></label>
      <span>AfterOfficeHour</span><input type="checkbox" name="outofhours" id="outofhourscheck" <%= @userprofile.outofhours.to_s == "true" ? "checked" : "unchecked" %>><label for="outofhourscheck"></label>
      <span>Freelance/Contract</span><input type="checkbox" name="skr_contractor" id="contractorcheck" <%= @userprofile.skr_contractor.to_s == "true" ? "checked" : "unchecked" %>><label for="contractorcheck"></label>                 
    </p>
  </section> <!--jobPreferences -->

  <section class="Achievements">
    <header>Achievements</header>
    <p> List all your major achievements below:
      <a class="ec inputText" href="javascript:void(0)" data-type="wysihtml5" data-pk="<%=@myachievements.skr_achieve_id %>" data-url="/updateachievement" data-title="Enter achievements"><%= @myachievements.achievement != '' ? @myachievements.achievement : "[Optional] Enter your achievement here"%> </a>
    </p>
  </section> <!-- achievements -->
  
  <section class="Experiences">
    <header>Work Experience </header>  
    <ul class="nav nav-tabs"> 
      <li class="active"><a data-toggle="tab" href="#skilltab" >Experience</a></li>                  
    </ul>
    <div class="tab-content">
      <a href="#addexperiencemodal" data-pk=<%= @user.id %>  data-toggle="modal" data-keyboard="false" data-backdrop="static" role="button">
          <span class="btn dark-blue-btn btn-primary">
            Add New Job Experience
          </span>
      </a> <!-- addexperiencemodal -->
      <div id="experienceTable"> 
        <!-- Job Experience table will be loaded in this div -->
      </div> <!-- experienceTable -->
    </div> <!--tab-content -->
  </section>  <!-- Experiences -->

  <section class="Competencies">
    <header>Competencies</header>
    <ul class="nav nav-tabs"> 
      <li class="active"><a id="skilltabclick" data-toggle="tab" href="#skilltab" >Skills</a></li>   
      <li><a id="languagetabclick" data-toggle="tab" href="#languagetab">Languages</a></li>   
      <li><a id="edutabclick" data-toggle="tab" href="#edutab">Education</a></li>    
      <li><a id="certtabclick" data-toggle="tab" href="#certtab">Certificates</a></li>                  
    </ul>

    <div class="tab-content">
      <div id="skilltab" class="tab-pane active">
        <div id="skilltable"> <!-- this id is used for x-editable -->
          <a href="#addskillmodal" data-pk=<%= @user.id %> data-toggle="modal" data-keyboard="false" data-backdrop="static" role="button">
              <span class="btn dark-blue-btn btn-primary">
                Add New Skill
              </span>
          </a> <!-- addskillmodal -->
          <div id="skillTable"> 
            <!-- Skill management table will be loaded in this div -->
          </div> <!-- skillTable -->
        </div> <!-- skilltable -->
      </div> <!-- skilltab -->

      <div id="languagetab" class="tab-pane">
        <div id="languagetable"> <!-- this id is used for x-editable -->
          <a href="#addlanguagemodal" data-pk=<%= @user.id %> data-toggle="modal" data-keyboard="false" data-backdrop="static" role="button">
              <span class="btn dark-blue-btn btn-primary">
                Add New Language
              </span>
          </a> <!-- addlanguagemodal -->
          <div id="languageTable">
            <!-- Language management table will be loaded in this div -->
          </div> <!-- languageTable -->
        </div> <!-- languagetable" -->
      </div> <!-- languagetab -->

      <div id="edutab" class="tab-pane">
        <div id="edutable"> <!-- this id is used for x-editable -->
          <a href="#addedumodal" data-pk=<%= @user.id %> data-toggle="modal" data-keyboard="false" data-backdrop="static" role="button">
              <span class="btn dark-blue-btn btn-primary">
                Add New Education
              </span>
          </a> <!-- addedumodal -->
          <div id="educationTable">
            <!-- Education management table will be loaded in this div -->
          </div>
        </div> <!-- edutable -->
      </div> <!-- edutab -->

      <div id="certtab" class="tab-pane">
        <div id="certtable"> <!-- this id is used for x-editable -->
          <a href="#addcertmodal" data-pk=<%= @user.id %> data-toggle="modal" data-keyboard="false" data-backdrop="static" role="button">
              <span class="btn dark-blue-btn btn-primary">
                Add New Certification
              </span>
          </a> <!-- addcertmodal -->
          <div id="certificationTable">
            <!-- Certificate management table will be loaded in this div -->
          </div> <!-- certificationTable -->
        </div> <!-- certtable -->
      </div> <!-- certab -->

    </div> <!-- tab-content -->   
  </section> <!-- Competencies -->
</div> <!-- settingsLayout -->




<!-- START of MODAL -->
<div class="modal fade" id="addskillmodal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
          <header>Add new skill</header>                                                            
      </div> <!-- modal-header -->
      <div class="modal-body">   
        <div class="Instructions">
          <p> If your skills are not listed, please request to have them added by writing to support@jorb.co</p>
        </div> <!--Instrictions-->
        <div id = "alert_placeholder-inmodal"></div>
          <p>
            Skill category
            <a class="newskill inputText" id="skillcat" href="#" data-emptytext="Select..." data-type="select"  data-name="id"  data-original-title="Select skill category"></a>
          </p> 
          <p>
            Skill name
            <a class="newskill inputText" id="skillname" href="#" data-emptytext="Select..." data-type="select" data-name="skillid" data-original-title="Select skill"></a>
          </p>
          <p>  
            Skill rank
            <a class="newskill inputText" id="skillrank" href="#" data-emptytext="Select..." data-type="select" data-name="skillrank" data-source="[{value: 2, text: 'Basic'}, {value: 3, text: 'Intermediate'}, {value: 4, text: 'Advanced'}, {value: 5, text: 'Expert'}]" data-original-title="Select rank"></a>
          </p>
      </div> <!-- modal-body -->
      <div class="modal-footer">
          <button id="saveskill-btn" class="btn btn-primary">
            Save Skill and Add New
          </button>
      </div> <!-- modal-footer -->
    </div> <!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- addskillmodal  --> 


<div class="modal fade" id="addlanguagemodal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
        <header>Add new language</header>                                                            
      </div> <!-- "modal-header" -->
      <div class="modal-body">   
        <div class="Instructions">
          <p> If the language that you are looking for is not listed, please request to have them added by writing to support@jorb.co</p>
        </div> <!--Instrictions-->
        <div id = "alert_placeholder-inmodal2"></div>
        <p>
          Language
          <a class="newlang inputText" id="lang" href="#" data-emptytext="Select..." data-type="select" data-name="skr_lang" data-original-title="Select language"></a>
        </p>
        <p>
          Spoken skill level
          <a class="newlang inputText" id="speakskill" href="#" data-emptytext="Select..." data-type="select" data-name="skr_lang_speakskill" data-source="[{value: 2, text: 'Basic'}, {value: 3, text: 'Intermediate'}, {value: 4, text: 'Advance'}, {value: 5, text: 'Expert'}]" data-original-title="Select rank"></a>
        </p>
        <p>
          Written skill level
          <a class="newlang inputText" id="writeskill" href="#" data-emptytext="Select..." data-type="select" data-name="skr_lang_writeskill" data-source="[{value: 2, text: 'Basic'}, {value: 3, text: 'Intermediate'}, {value: 4, text: 'Advance'}, {value: 5, text: 'Expert'}]" data-original-title="Select rank"></a>
        </p>
      </div> <!-- "modal-body" -->
      <div class="modal-footer">
        <button id="savelanguage-btn" class="btn btn-primary">
          <i class="icon-save bigger-140 icon-only">Save Language and Add New</i>
        </button>
      </div> <!-- modal-footer-->  
    </div> <!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- addlanguagemodal  --> 

<div class="modal fade" id="addedumodal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
        <header>Add New Education </header>                                                            
      </div> <!-- modal-header -->
      <div class="modal-body">   
        <div class="Instructions">
          <p> If the title, institutions, speciality and honors that you require is not listed, please request to have them added by writing to support@jorb.co</p>
        </div> <!--Instrictions-->
        <div id = "alert_placeholder-inmodal3"></div>
        <p>
          Title
          <a href="#" class="newedu inputText" id="skr_unititle"  data-emptytext="Select..." data-type="select" data-name="skr_unititle" data-original-title="Select Title"></a>
        </p>
        <p>
          Institutions
          <a href="#" class="newedu inputText" id="skr_university"  data-emptytext="Select..." data-type="select" data-name="skr_university" data-original-title="Select Institutions"></a>
        </p>
        <p>
          Specialty
          <a href="#" class="newedu inputText" id="skr_specialty" data-emptytext="Select..." data-type="select" data-name="skr_specialty" data-original-title="Select Specialty"></a>
        </p>
        <p>
          Honors
          <a href="#" class="newedu inputText" id="skr_honours" data-emptytext="Select..." data-type="select" data-name="skr_honours" data-original-title="Select Honors"></a>
        </p>
        <p>
          Start Date
          <a href="#" class="newedu inputText" id="skr_unistart" data-emptytext="Select..." data-type="date" data-placement="right" data-name="skr_unistart" data-original-title="Enter Start Date"></a>
        </p>
        <p>
          End Date
          <a href="#" class="newedu inputText" id="skr_uniend" data-emptytext="Select..." data-type="date" data-placement="right" data-name="skr_uniend" data-original-title="Enter End Date"></a>
        </p>
      </div> <!-- "modal-body" -->
      <div class="modal-footer">
        <button id="saveedu-btn" class="btn btn-primary">
          Save Education and Add New
        </button>
      </div>  <!-- modal-footer -->
    </div> <!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- addedumodal  --> 

<div class="modal fade" id="addcertmodal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
        <header>Add New Certification </header>                                                            
      </div> <!-- "modal-header" -->
      <div class="modal-body">   
        <div class="Instructions">
          <p> If your certification is not listed, please request to have them added by writing to support@jorb.co</p>
        </div> <!--Instrictions-->
        <div id = "alert_placeholder-inmodal4"></div>
        <p>
          Certificate Name
          <a class="newcert inputText" id="skr_certtitle" href="#" data-emptytext="Select..." data-type="select" data-name="skr_certtitle" data-original-title="Select Title"></a>
        </p>
        <p>
          Certificate #
          <a class="newcert inputText" id="skr_certlicense" href="#" data-emptytext="Enter..." data-type="text" data-name="skr_certlicense" data-original-title="Enter certificate #"></a>
        </p>
        <p>
          When did you get certified?
          <a class="newcert inputText" id="skr_datecertified" href="#" data-emptytext="Select..." data-type="date" data-placement="right" data-name="skr_datecertified" data-original-title="Enter Date of certification"></a>
        </p>
        <p>
          Expiry Date
          <a class="newcert inputText" id="skr_certexpiry" href="#" data-emptytext="Select..." data-placement="right" data-type="date" data-name="skr_certexpiry" data-original-title="Enter Expiry Date"></a>
        </p>
      </div> <!-- modal-body -->
      <div class="modal-footer">
        <button id="savecert-btn" class="btn btn-primary">
          Save Certification and Add New
        </button>
      </div> <!-- footer -->
    </div> <!-- modal-content -->
  </div> <!-- modal-dialog -->
</div> <!-- addcertmodal  --> 

<div class="modal fade" id="addexperiencemodal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
        <header>Add New Job Experience</header>                                                            
      </div> <!-- modal-header -->
      <div class="modal-body">   
        <div class="Instructions">
          <p> If the position, industry, job location and function that you require is not listed, please request to have them added by writing to support@jorb.co</p>
        </div> <!--Instrictions-->
        <div id = "alert_placeholder-inmodal5"></div>
        <p>
          Position
          <a class="newjob inputText" href="#" id="skr_emp_title"  data-emptytext="Select..." data-type="select" data-name="skr_emp_title" data-original-title="Select Position"></a>
        </p>
        <p>
          Actual Job Title
          <a class="newjob inputText" id="skr_emp_actualtitle" href="#" data-emptytext="Enter..." data-type="text" data-name="skr_emp_actualtitle" data-original-title="Enter Actual Job Title"></a>
        </p>
        <p>
          Company
          <a class="newjob inputText" id="skr_emp_company" href="#" data-emptytext="Enter..." data-type="text" data-name="skr_emp_company" data-original-title="Enter Company Name"></a>
        </p>
        <p>
          Industry
          <a class="newjob inputText" id="skr_emp_industry" href="#" data-emptytext="Select..." data-type="select" data-name="skr_emp_industry" data-original-title="Select Industry"></a>
        </p>
        <p>
          Job Location
          <a class="newjob inputText" id="skr_emp_location" href="#" data-emptytext="Select..." data-type="select" data-name="skr_emp_location" data-original-title="Select Job Location"></a>
        </p>
        <p>
          Job Function
          <a class="newjob inputText" id="skr_emp_function" href="#" data-emptytext="Select..." data-type="select" data-name="skr_emp_function" data-original-title="Select Job Function"></a>
        </p>
        <p>
          Is this your Current Job?
          <input type="checkbox" name="currentjob" id="currentjobcheck" unchecked> <label for="currentjobcheck"></label>
          <a class="newjob" id="skr_emp_currentjob" href="#" data-emptytext="Select..." data-type="select" data-name="skr_emp_currentjob"></a>
        </p>
        <p>
          Start Date
          <a class="newjob inputText" id="skr_emp_start" href="#" data-emptytext="Select..." data-type="date" data-placement="right" data-name="skr_emp_start" data-original-title="Enter Start Date"></a>
        </p>
        <p id="enddate_block" style="visibility: 'visible'"> 
          End Date
          <a class="newjob inputText" id="skr_emp_end" href="#" data-emptytext="Select..." data-type="date" data-placement="right" data-name="skr_emp_end" data-original-title="Enter End Date"></a>
        </p>
        <p>
          Description
          <a class="newjob inputText" id="skr_emp_desc" href="javascript:void(0)"  data-name="skr_emp_desc" data-type="wysihtml5"  data-title="Enter Job Description"></a>
        </p>
      </div> <!-- modal-body -->
      <div class="modal-footer">
        <button id="saveexperience-btn" class="btn btn-primary">
          <i class="icon-save bigger-140 icon-only">Save Job Experience and Add New</i>
        </button>
      </div> <!-- footer -->
    </div> <!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- addexperiencemodal  --> 

<div class="modal fade" id="editexperiencemodal" >
  <div class="modal-dialog modal-lg" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
        <header>Edit Job Experience</header>                                                            
      </div> <!-- modal-header -->
      <div class="modal-body">   
        <div class="Instructions">
          <p> If the position, industry, job location and function that you require is not listed, please request to have them added by writing to support@jorb.co</p>
        </div> <!--Instrictions-->
        <div id = "alert_placeholder-inmodal6"></div>
        <div id="editexpbody"></div>
      </div> <!-- modal-body -->
      <div class="modal-footer">
        <button id="saveexperience-btn2" class="btn btn-primary">
          Save Job Experience and Add New
        </button>  
      </div> <!-- footer -->
    </div> <!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- editexperiencemodal  --> 


<div class="modal fade" id="helpmodal-status" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
          <header>Job Search Status</header>                                                            
      </div> <!-- modal-header -->
      <div class="modal-body">   
        <p>
          When can you start work upon acceptance of the new job. This is usually determined by your current company's resignation policy.
        </p>
      </div> <!-- modal-body -->
      <div class="modal-footer">

      </div> <!-- modal-footer -->
    </div> <!-- modal-content -->
  </div><!-- modal-dialog -->
</div><!-- helpmodal-status  --> 



<!-- END of MODAL -->      
                   
<script>

$(document).ready(function(){
    // $("#skillTable").html("<div id='loader'><i class='fa fa-spinner fa-spin'></i>Loading Skill Table now... </div>"); 
    // $("#languageTable").html("<div id='loader'><i class='fa fa-spinner fa-spin'></i>Loading Language Table now... </div>"); 
    // $("#educationTable").html("<div id='loader'><i class='fa fa-spinner fa-spin'></i>Loading Education Table now... </div>"); 
    // $("#certificationTable").html("<div id='loader'><i class='fa fa-spinner fa-spin'></i>Loading Certification Table now... </div>"); 
    $("#loading").html("<div class='spinner'></div>");
    $("#experienceTable").load("/experiencetable",{i: new Date().getTime(), pk: <%=@user.id%>}, function(){
    }); 
    document.getElementById('f1').scrollIntoView()
    $("#skillTable").load("/table",{i: new Date().getTime(), pk: <%=@user.id%>}, function(){
      $('.spinner').fadeOut(1000, function() {$(this).remove();});
      $("html, body").animate({ scrollTop: 0 }, "slow");
    }); 
    //non singaporean and non-PR and active in seeking for job, show it!
    // if (<%= @mynations %> != 157 && <%= @mynationtypes %> !=2 && <%= @userprofile.activeseeker %>){
    //    document.getElementById( 'spr_block' ).style.visibility = 'visible';
    //    if (<%= @userprofile.insingaporenow%> ){
    //     document.getElementById( 'insg_block' ).style.visibility = 'visible';
    //    }
    // };
    // if (<%= @mynations %> == 157 || <%= @mynationtypes %> ==2)  {
    //   document.getElementById( 'spr_block' ).style.visibility = 'hidden';
    //   document.getElementById( 'insg_block' ).style.visibility = 'hidden';
    // } ;
    if (<%= @userprofile.travelfreq %> ==0){
      document.getElementById("f0").checked = true;
     }
    if (<%= @userprofile.travelfreq %> ==25){
      document.getElementById("f1").checked = true;
     }
    if (<%= @userprofile.travelfreq %> ==50){
      document.getElementById("f2").checked = true;
     }
    if (<%= @userprofile.travelfreq %> ==75){
      document.getElementById("f3").checked = true;
     }
    if (<%= @userprofile.travelfreq %> ==100){
      document.getElementById("f4").checked = true;
     }

    $('input[name="date-range-picker"]').daterangepicker({
      timePicker: false,
      showDropdowns: true,
      format: 'DD/MM/YYYY',
      }, function(start, end, label) {
        console.log(moment(start.format('YYYY-MM-DDTHH:mm:ss') + 'Z').utc().toISOString());
        from = moment(start.format('YYYY-MM-DDTHH:mm:ss') + 'Z').utc().toISOString();
        end =moment(end.format('YYYY-MM-DDTHH:mm:ss') + 'Z').utc().toISOString();
         $.ajax({
            url: '/update_inSG_Date',
            type: 'POST',
            data: {"insg_start": from, "insg_end": end, "pk" : <%=@userprofile.id %>},
            beforeSend : function(){
              
            }, 
            success: function(response){

            }
          });
    }); //date-range-picker

    $('#skr_careergoal').editable({
      tpl: "<input type='text' style='width: 700px';height:500px>",
      validate: function(value){
        if (!value) return 'This field is required';
        if(value.length >15000 ) {
          return 'You can only enter a maximum of 15000 characters';
        }
      } //validate 
    }); //skr_careergoal

    $('#skilltable').editable({
      selector: 'a.skillrank',
      showbuttons: false
    }); //skilltable

    $('.Achievements').editable({
      selector: 'a.ec',
      tpl: "<input type='text' style='width: 700px';height:500px>",
      validate: function(value){
        if (!value) return 'This field is required';
        if(value.length >5000 ) {
          return 'You can only enter a maximum of 500 characters';
        }
      }, //validate 
      emptytext: '[Optional] Enter your achievement here',
      placeholder: '[Optional] Enter your achievement here'
    }); //.Achievements

    $('#languagetable').editable({
      selector: 'a.skr_lang_speakskill',
      showbuttons: false
    }); //languagetable

    $('#languagetable').editable({
      selector: 'a.skr_lang_writeskill',
      showbuttons: false
    }); //languagetable

    $('#expectedsalary').editable();
    $('#currentsalary').editable();
    $('#availability').editable();
    $('#skr_emp_currentjob').editable({disabled: true }); 

    $('#expectedsalary').editable('option', 'validate', function(v) {
      if(!v) return 'This is a required field!';
    }); //expectedsalary

    $('#currentsalary').editable('option', 'validate', function(v) {
        if (!isInt(v)){
          return "Invalid entry. Please re-enter";             
        }
    }); //currentsalary

    $('#expectedsalary').editable('option', 'validate', function(v) {
        if (!isInt(v)){
          return "Invalid entry. Please re-enter";             
        }
    }); //expectedsalary

    $('#industries').editable({
      source: function() {
                return (<%= @industries%>)
              },
      select2:  {
                 multiple: true,
                 dropdownAutoWidth : true,
                 placeholder: 'Select Industries', width: '500px'
                },
      allowClear: true,
      minimumInputLength: 3,
      mode: 'popup',
      showbuttons: 'bottom',
      placement: 'bottom',
      emptytext: 'Select your preferred industries'
    }); //industries

    $('#locations').editable({
      source: function() {
                return (<%= @locations %>)
              },
      select2:  {
                  multiple: true,
                  dropdownAutoWidth : true,
                  placeholder: 'Select locations', width: '500px'
                },
      allowClear: true,
      minimumInputLength: 3,
      mode: 'popup',
      showbuttons: 'bottom',
      placement: 'bottom',
      emptytext: 'Select your preferred Job locations'
    }); //locations

    $('#joblevel').editable({
      source: function() {
                return (<%= @levels%>)
              },
      select2: {
                 multiple: true,
                 dropdownAutoWidth : true,
                 placeholder: 'Select Job Levels', width: '500px'
                },
      allowClear: true,
      minimumInputLength: 3,
      mode: 'popup',
      showbuttons: 'bottom',
      placement: 'bottom',
      emptytext: 'Select your preferred Job levels'
    }); //joblevel

    $('#jobfunction').editable({
      source: function() {
                return (<%= @functions%>)
              },
      select2:  {
                  multiple: true,
                  dropdownAutoWidth : true,
                  placeholder: 'Select Job Functions', width: '500px'
                },
      allowClear: true,
      minimumInputLength: 3,
      mode: 'popup',
      showbuttons: 'bottom',
      placement: 'bottom',
      emptytext: 'Select your preferred Job functions'
    }); //jobfunction

    $('#skillsettingtable').dataTable({  
      "scrollY": 200,
      "ScrollX": true,
      "iDisplayLength": 10,
      "order": [[ 0, "desc" ]],
      "scrollCollapse": true,
      "jQueryUI": true,
      "aoColumns": [       
          null, null, null,
          { "bSortable": false }
        ]
    }); //skillsettingtable

    $('#languagesettingtable').dataTable({
      "scrollY": 200,
      "ScrollX": true,
      "iDisplayLength": 10,
      "order": [[ 0, "desc" ]],
      "scrollCollapse": true,
      "jQueryUI": true,
      "aoColumns": [       
          null, null, null,
          { "bSortable": false }
        ]
    }); //languagesettingtable

  }); //document ready
</script>

<script>
// ------------ POST LOADING START Loading the respective tables when user click on the tab.--------
  $('#languagetabclick').one("click", function() {
    $("#loading").html("<div class='spinner'></div>");
    $("#languageTable").load("/langtable",{i: new Date().getTime(), pk: <%=@user.id%>}, function(){
      $('.spinner').fadeOut(1000, function() {$(this).remove();});
      $("html, body").animate({ scrollTop: $(document).height() }, "slow");
    }); 
  }); //languagetabclick

  $('#edutabclick').one("click", function() {
    $("#loading").html("<div class='spinner'></div>");
    $("#educationTable").load("/edutable",{i: new Date().getTime(), pk: <%=@user.id%>}, function(){
      $('.spinner').fadeOut(1000, function() {$(this).remove();});
      $("html, body").animate({ scrollTop: $(document).height() }, "slow");
    }); 
  }); //edutabclick

  $('#certtabclick').one("click", function() {
    $("#loading").html("<div class='spinner'></div>");
    $("#certificationTable").load("/certtable",{i: new Date().getTime(), pk: <%=@user.id%>}, function(){
      $('.spinner').fadeOut(1000, function() {$(this).remove();});
      $("html, body").animate({ scrollTop: $(document).height() }, "slow");
    }); 
  }); //certtabclick
//-------------------------END OF POST LOADING ------------------------------------
  $("#activecheck").on('change', function(){
    $.ajax({
      url: '/updateactive',
      type: 'POST',
      data: {"activeseeker": this.checked, "pk" : <%=@user.id %>},
      beforeSend : function(){
      }, 
      success: function(response){
        var data = JSON.parse(response);

        if (data.active){
           if (data.singaporepr != 2)
            {document.getElementById( 'spr_block' ).style.visibility = 'visible';}
           if (data.singaporepr != 2 && data.insingaporenow){
              document.getElementById( 'insg_block' ).style.visibility = 'visible';}          
        } else{
           document.getElementById( 'spr_block' ).style.visibility = 'hidden';
           document.getElementById( 'insg_block' ).style.visibility = 'hidden';
        }; //else
      } //success function
    }); //ajax
  }); //activecheck

  $("#insgcheck").on('change', function(){
    $.ajax({
      url: '/updatetmeprofile',
      type: 'POST',
      data: {"value": this.checked, "pk" : <%=@user.id %>, "name":"insingaporenow"},
      beforeSend : function(){
      
      },
      success: function(response){
        var data = JSON.parse(response);
        if (data.insingaporenow){
           document.getElementById( 'insg_block' ).style.visibility = 'visible';           
        } else{
           document.getElementById( 'insg_block' ).style.visibility = 'hidden';                    
        }; //else
      } //success functiom
    }); //ajax
  }); //insgcheck


  $("#parttimecheck").on('change', function(){
    $.ajax({
      url: '/updatetmeprofile',
      type: 'POST',
      data: {"value": this.checked, "pk" : <%=@user.id %>,"name":"parttime"},
      beforeSend : function(){
       
      },
      success: function(response){
        var data = JSON.parse(response);
        if (data.parttime){
              newAlert("#alert_placeholder-tab", 'success', "You will be matched to any part time jobs");     
        } else {
              newAlert("#alert_placeholder-tab", 'success', "You will not be matched to part time jobs");  
        }                        
      } //success function
    }); //ajax
  }); //parttimecheck


  $("#fulltimecheck").on('change', function(){
      $.ajax({
        url: '/updatetmeprofile',
        type: 'POST',
        data: {"value": this.checked, "pk" : <%=@user.id %>, "name":"fulltime"},
        beforeSend : function(){
        },
        success: function(response){
          var data = JSON.parse(response);
          if (data.fulltime){
               newAlert("#alert_placeholder-tab", 'success', "You will be matched to full time jobs");  
          } else {

                newAlert("#alert_placeholder-tab", 'success', "You will not be matched to full time jobs");    
          }                               
        } //success function
      }); //ajax
    }); //fulltimecheck

  $("#shiftworkcheck").on('change', function(){
    $.ajax({
      url: '/updatetmeprofile',
      type: 'POST',
      data: {"value": this.checked, "pk" : <%=@user.id %>,  "name":"shiftwork"},
      beforeSend : function(){
      },
      success: function(response){
        var data = JSON.parse(response);
        if (data.shiftwork){
             newAlert("#alert_placeholder-tab", 'success', "You will be matched to jobs requiring shift work");                                    
        } else {
             newAlert("#alert_placeholder-tab", 'success', "You will not be matched to jobs requiring shift work");  
        }
      } //success function
    }); //ajax
  }); //shiftworkcheck

  $("#outofhourscheck").on('change', function(){
    $.ajax({
      url: '/updatetmeprofile',
      type: 'POST',
      data: {"value": this.checked, "pk" : <%=@user.id %>, "name":"outofhours"},
      beforeSend : function(){
      },
      success: function(response){
        var data = JSON.parse(response);
        if (data.outofhours){
             newAlert("#alert_placeholder-tab", 'success', "You will be matched to jobs requiring you to work outside office hour");
         } else {
             newAlert("#alert_placeholder-tab", 'success', "You will not be matched to jobs requiring you to work outside office hour");  
         }                        
      } //success function
    }); //ajax
  }); // outofhourscheck

  $("#interncheck").on('change', function(){
      $.ajax({
        url: '/updatetmeprofile',
        type: 'POST',
        data: {"value": this.checked, "pk" : <%=@user.id %>, "name":"skr_intern"},
        beforeSend : function(){
        },
        success: function(response){
          var data = JSON.parse(response);                           
        } //success function
      }); //ajax
  }); // interncheck

  $("#contractorcheck").on('change', function(){
    $.ajax({
      url: '/updatetmeprofile',
      type: 'POST',
      data: {"value": this.checked, "pk" : <%=@user.id %>, "name":"skr_contractor"},
      beforeSend : function(){
      },
      success: function(response){
        var data = JSON.parse(response);                           
      } //success function
    }); //ajax
  }); // contractorcheck

  function freqcheck(myRadio) {
      $.ajax({
        url: '/updatetmeprofile',
        type: 'POST',
        data: {"value": myRadio.value, "pk" : <%=@user.id %>, "name":"travelfreq"},
        beforeSend : function(){
        },
        success: function(response){
        } //success function
      }); //ajax
  }; // freqcheck

  function isInt(value) {
    return !isNaN(value) &&
           parseInt(Number(value)) == value &&
           !isNaN(parseInt(value, 10));
  } //isInt

  function delskill(element,i){
    var r = confirm("This skill will be deleted! Are you sure?");
      if (r == true) {
        $.ajax({
                url: '/deleteskill',
                type: 'POST',
                data: {"pk" : i},
                success: function(response){
                  var row=$(element).parents('tr')
                  $('#skillsettingtable').dataTable().fnDeleteRow(row[0]);
                  newAlert("#alert_placeholder-tab", 'success', "Skill deleted!");
                } //success
        }); //ajax
      } else {

      }
  } //delskill

  function delexp(element,i){
    var r = confirm("This job experience will be deleted! Are you sure?");
      if (r == true) {
        $.ajax({
                url: '/deleteexp',
                type: 'POST',
                data: {"pk" : i},  //jobID
                success: function(response){
                  var row=$(element).parents('tr')
                  $('#experiencesettingtable').dataTable().fnDeleteRow(row[0]);
                  newAlert("#alert_placeholder-tab", 'success', "Job Experience deleted!");
                } //success
        }); //ajax
      } else {

      }
  }//delexp

  function dellanguage(element,i){
    var r = confirm("This language will be deleted! Are you sure?");
      if (r == true) {
        $.ajax({
                url: '/deletelanguage',
                type: 'POST',
                data: {"pk" : i, "userid": <%= @user.id %>},
                success: function(response){
                  var row=$(element).parents('tr')
                  $('#languagesettingtable').dataTable().fnDeleteRow(row[0]);
                  newAlert("#alert_placeholder-tab", 'success', "Language deleted!");

                } //success
        }); //ajax
      } else {

      }
  }//dellanguage

  function deledu(element,i){
    var r = confirm("This education will be deleted! Are you sure?");
      if (r == true) {
        $.ajax({
          url: '/deleteedu',
          type: 'POST',
          data: {"pk" : i, "userid": <%= @user.id %>},
          success: function(response){
            var row=$(element).parents('tr')
            $('#edusettingtable').dataTable().fnDeleteRow(row[0]);
            newAlert("#alert_placeholder-tab", 'success', "Education deleted!");
          } //success
        }); //ajax
      } else {

      }
  }//deledu

  function delcert(element,i){
    var r = confirm("This certification will be deleted! Are you sure?");
      if (r == true) {
        $.ajax({
                url: '/deletecert',
                type: 'POST',
                data: {"pk" : i, "userid": <%= @user.id %>},
                success: function(response){
                  var row=$(element).parents('tr')
                  $('#certsettingtable').dataTable().fnDeleteRow(row[0]);
                  newAlert("#alert_placeholder-tab", 'success', "Certification deleted!");
                } //success
        }); //ajax
      } else {

      }
  }//delcert

  function newAlert (loc, type, message) {
      $(loc).append($("<div class='alert alert-block alert-" + type + " fade in' data-alert><p> " + message + " </p></div>"));
      $(".alert").delay(2000).fadeOut("slow", function () { $(this).remove(); });
  }//newAlert     

//When the modal is closed, reload the respective tables. For example, when a user add and save a few skills before closing the modal, we want to make sure those skills are reflected in the table.
  // $('#addexperiencemodal').on('hide.bs.modal', function(e) {   
  //     $("#experienceTable").load("/experiencetable",{i: new Date().getTime(), pk: <%= @user.id %>}); 
  // }); //addexperiencemodal
  // $('#editexperiencemodal').on('hide.bs.modal', function(e) {   
  //     $("#experienceTable").load("/experiencetable",{i: new Date().getTime(), pk: <%= @user.id %>}); 
  // }); //editexperiencemodal
  //  $('#addskillmodal').on('hide.bs.modal', function(e) {   
  //     $("#skillTable").load("/table",{i: new Date().getTime(), pk: <%= @user.id %>}); 
  // }); //addskillmodal
  //  $('#addedumodal').on('hide.bs.modal', function(e) {   
  //     $("#educationTable").load("/edutable",{i: new Date().getTime(), pk: <%= @user.id %>}); 
  // }); //addedumodal
  //  $('#addcertmodal').on('hide.bs.modal', function(e) {   
  //     $("#certificationTable").load("/certtable",{i: new Date().getTime(), pk: <%= @user.id %>}); 
  // }); //addcertmodal
  //  $('#addlanguagemodal').on('hide.bs.modal', function(e) {   
  //     $("#languageTable").load("/langtable",{i: new Date().getTime(), pk: <%= @user.id %>}); 
  // }); //addlanguagemodal
</script>