<div class="settingsLayout">
  <h1>Career Profile</h1> 
  <section class="searchStatus">
    <header>Job Search Status</header>
    <span>Activate Job Search</span>
    <input type="checkbox" name="activeseeker" id="activecheck"  <%= @userprofile.activeseeker ? "checked" : "unchecked" %>>
    <label for="activecheck"></label> <span id="saving"></span>
    <div id="spr_block" style="visibility: <%= @userprofile.activeseeker ? "visible" : "hidden" %>;" > 
      <span>I am in Singapore</span>
      <input type="checkbox" name="insingaporenow" id="insgcheck" <%= @userprofile.insingaporenow ? "checked" : "unchecked" %>>
      <label for="insgcheck"></label> 
      <div id="insg_block" style="visibility: <%= @userprofile.insingaporenow ? "visible" : "hidden" %>; display:inline" > 
        <span>on these dates</span><input type="text" value="10/03/2005 - 14/04/2005 " class="datePicker" name="date-range-picker" readonly="true"><span id="saving_date"></span>
      </div>  <!-- insg_block -->          
    </div> <!--spr_block -->
  </section> <!--searchStatus --> 

  <section class="CV">
    <header>CV / Résumé</header>
    <!--Uncomment the following to allow users to view their uploaded CV. You will need to create additional logic to determine if there is existing file. If no file exist, we recommend you to prompt users to upload CV -->
    <!--         
    <span id="CVsection"> 
      <a href=<%= @userprofile.cvurl %> target="_blank" > 
        <i class="fa fa-file-text-o"><br><div>My CV</div></i> 
      </a>
    </span> -->

    <script src='/vendor/jqueryfileupload/js/vendor/jquery.ui.widget.js' type='text/javascript'></script>
    <script src='/vendor/jqueryfileupload/js/jquery.iframe-transport.js' type='text/javascript'></script>
    <script src='/vendor/jqueryfileupload/js/jquery.fileupload.js' type='text/javascript'></script>
    <script src='/vendor/jqueryfileupload/js/jquery.fileupload-process.js' type='text/javascript'></script>
    <script src='/vendor/jqueryfileupload/js/jquery.fileupload-validate.js' type='text/javascript'></script>
    <script src='/vendor/cloudinary/jquery.cloudinary.js' type='text/javascript'></script>
    <script type="text/javascript">$.cloudinary.config({cloud_name:'dashy', api_key:'219441847515364'}); </script>

    <div class="btn dark-blue-btn btn-primary fileinput-button">
      <div id="uploadProgress">
        <i class="glyphicon glyphicon-plus"></i> Upload new CV
      </div> 
      <input name="file" type="file" id="fileupload" class="cloudinary-fileupload" data-cloudinary-field="image_upload" >
    </div>

    <script type="text/javascript">
      $(function(){
        $('#fileupload').fileupload({
            add: function (e, data) {
                $.getJSON('/filer_cv', { userid: <%= @user.id %>}, function (result) {
                    data.formData = result; // e.g. {id: 123}
                    data.submit();
                }).fail( function(d, textStatus, error) {
                    console.error("Error! Please contact helpdesk. Status: " + textStatus + ", error: "+error)
                });
            },
            url: "https://api.cloudinary.com/v1_1/dashy/upload",
            acceptFileTypes: /(\.|\/)(doc?x|pdf|txt)$/i, 
            // The maximum allowed file size in bytes:
            maxFileSize: 10000000, // 10 MB
            // The minimum allowed file size in bytes:
            minFileSize: 1, // No minimal file size
            // The limit of files to be uploaded:
            maxNumberOfFiles: 10
          })
        });

        $('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) { 
           $.ajax({
                url: '/cvuploaded',
                type: 'POST',
                data: {"cvurl": data.result.url, "pk" : <%=@user.id %>},
                success: function(response){
                  tt = "<a href=".concat(data.result.url,"><i style='font-size: 25px;' class='fa fa-file-text-o'><br><div style='font-size: 14px;left:-10px;position:relative'>My CV</div></i></a>");
                  $('#CVsection').html(tt);
                            $("#uploadprog").html("Uploading is complete!");
                            $('#uploadprog').fadeOut(3000, function() {
                              $(this).remove();
                              $("#uploadProgress").html("<i class='glyphicon glyphicon-plus'></i> <span >Upload new CV</span>");
                             });
                
                }
           }); //ajax
           return true;
        }); //cloudinary done

        $('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) {
          $("#uploadProgress").html("<div id='uploadprog'> <i class='fa fa-spinner fa-spin'></i>Uploading in progress</div> </div>");
        });

        $('.cloudinary-fileupload').bind('fileuploadstop', function(e, data) {

        });

         $('.cloudinary-fileupload').bind('fileuploadfail', function(e, data) {
            alert(data.files[0].error);
        });
    </script> <!-- cloudinary scripts -->

    <p>Availability (months):
      <a class="inputText" href="#" id="availability" data-name="availability" data-type="text" data-pk="<%=@userprofile.id %>" data-url="/updatetmeprofile" data-title="Enter your availability"><%= @userprofile.availability %></a>
    </p>
  </section> <!-- CV -->


  <section class="jobPreferences">
    <header>Job Preferences</header>
    <p>Current monthly salary:S$
      <a class="inputText" href="#" id="currentsalary" data-name="currentsalary" data-type="text" data-pk="<%=@userprofile.id %>" data-url="/updatetmeprofile" data-title="Enter current salary"><%= @userprofile.currentsalary %></a>
    </p>
    <p>Expected monthly salary:S$ 
      <a class="inputText" href="#" id="expectedsalary" data-name="expectedsalary" data-type="text"  data-pk="<%=@userprofile.id %>" data-url="/updatetmeprofile" data-title="Enter expected salary"><%= @userprofile.expectedsalary %></a>
    </p>   
    <p>Levels:
      <a class="inputText" href="#" id="joblevel" data-type="select2" data-value="<%= @pref_level%>"  data-pk="<%=@user.id %>" data-url="/updatelevelpref" data-title="Enter preferred job level"></a>
    </p>
    <p>Functions:
      <a class="inputText" href="#" id="jobfunction" data-type="select2" data-value="<%= @pref_func %>"  data-pk="<%=@user.id %>" data-url="/updatefuncpref" data-title="Enter preferred job functions"></a>
    </p>
    <p>Industries:
      <a class="inputText" href="#" id="industries" data-type="select2" data-value="<%= @pref_ind %>"  data-pk="<%=@user.id %>" data-url="/updateindpref" data-title="Enter preferred industries"></a>
    </p>
    <p>Locations:         
      <a class="inputText" href="#" id="locations" data-type="select2" data-value="<%= @pref_loc %>"  data-pk="<%=@user.id %>" data-url="/updatelocpref" data-title="Enter preferred locations"></a>
    </p>
    <p>Travel Frequency:
      <span>0%</span><input name= "freq" id="f0" type="radio" onclick="freqcheck(this)"  value="25"> 
      <span>25%</span><input name= "freq" id="f1" type="radio" onclick="freqcheck(this)"  value="25"> 
      <span>50%</span><input name= "freq" id="f2" type="radio" onclick="freqcheck(this)"  value="50">
      <span>75%</span><input name= "freq" id="f3" type="radio" onclick="freqcheck(this)"  value="75"> 
      <span>100%</span><input name= "freq" id="f4" type="radio" onclick="freqcheck(this)"  value="100"> 
      <span id="saving_radio"></span>
    </p>
    <p>
      Job Types:
      <span>Full Time</span><input type="checkbox" name="fulltime" id="fulltimecheck"   <%= @userprofile.fulltime.to_s == "true" ? "checked" : "unchecked" %>><label for="fulltimecheck"></label>
      <span>Part Time</span><input type="checkbox" name="parttime" id="parttimecheck"   <%= @userprofile.parttime.to_s == "true" ? "checked" : "unchecked" %>><label for="parttimecheck"></label>
      <span>Shift Work</span><input type="checkbox" name="shiftwork" id="shiftworkcheck" <%= @userprofile.shiftwork.to_s == "true" ? "checked" : "unchecked" %>><label for="shiftworkcheck"></label>
      <span>Internship</span><input type="checkbox" name="skr_intern" id="interncheck"   <%= @userprofile.skr_intern.to_s == "true" ? "checked" : "unchecked" %>><label for="interncheck"></label>
      <span>AfterOfficeHour</span><input type="checkbox" name="outofhours" id="outofhourscheck" <%= @userprofile.outofhours.to_s == "true" ? "checked" : "unchecked" %>><label for="outofhourscheck"></label>
      <span>Freelance/Contract</span><input type="checkbox" name="skr_contractor" id="contractorcheck" <%= @userprofile.skr_contractor.to_s == "true" ? "checked" : "unchecked" %>><label for="contractorcheck"></label>                 
      <span id="saving_out"></span>
    </p>
  </section> <!--jobPreferences -->

  <section class="Achievements">
    <header>Achievements</header>
    <p> List all your major achievements below:
      <a class="ec inputText" href="javascript:void(0)" data-type="wysihtml5" data-pk="<%=@myachievements.skr_achieve_id %>" data-url="/updateachievement" data-title="Enter achievements"><%= @myachievements.achievement != '' ? @myachievements.achievement : "[Optional] Enter your achievement here"%> </a>
    </p>
  </section> <!-- achievements -->
  
  <section class="Experiences">
    <header>Work Experience </header>  
    <ul class="nav nav-tabs"> 
      <li class="active"><a data-toggle="tab" href="#skilltab" >Experience</a></li>                  
    </ul>
    <div class="tab-content">
      <a href="#addexperiencemodal" data-pk=<%= @user.id %>  data-toggle="modal" data-keyboard="false" data-backdrop="static" role="button">
          <span class="btn dark-blue-btn btn-primary">
            Add New Job Experience
          </span>
      </a> <!-- addexperiencemodal -->
      <div id="experienceTable"> 
        <!-- Job Experience table will be loaded in this div -->
      </div> <!-- experienceTable -->
    </div> <!--tab-content -->
  </section>  <!-- Experiences -->

  <section class="Competencies">
    <header>Competencies</header>
    <ul class="nav nav-tabs"> 
      <li class="active"><a id="skilltabclick" data-toggle="tab" href="#skilltab" >Skills</a></li>   
      <li><a id="languagetabclick" data-toggle="tab" href="#languagetab">Languages</a></li>   
      <li><a id="edutabclick" data-toggle="tab" href="#edutab">Education</a></li>    
      <li><a id="certtabclick" data-toggle="tab" href="#certtab">Certificates</a></li>                  
    </ul>

    <div class="tab-content">
      <div id="skilltab" class="tab-pane active">
        <div id="skilltable"> <!-- this id is used for x-editable -->
          <a href="#addskillmodal" data-pk=<%= @user.id %> data-toggle="modal" data-keyboard="false" data-backdrop="static" role="button">
              <span class="btn dark-blue-btn btn-primary">
                Add New Skill
              </span>
          </a> <!-- addskillmodal -->
          <div id="skillTable"> 
            <!-- Skill management table will be loaded in this div -->
          </div> <!-- skillTable -->
        </div> <!-- skilltable -->
      </div> <!-- skilltab -->

      <div id="languagetab" class="tab-pane">
        <div id="languagetable"> <!-- this id is used for x-editable -->
          <a href="#addlanguagemodal" data-pk=<%= @user.id %> data-toggle="modal" data-keyboard="false" data-backdrop="static" role="button">
              <span class="btn dark-blue-btn btn-primary">
                Add New Language
              </span>
          </a> <!-- addlanguagemodal -->
          <div id="languageTable">
            <!-- Skill management table will be loaded in this div -->
          </div> <!-- languageTable -->
        </div> <!-- languagetable" -->
      </div> <!-- languagetab -->

      <div id="edutab" class="tab-pane">
        <div id="edutable"> <!-- this id is used for x-editable -->
          <a href="#addedumodal" data-pk=<%= @user.id %> data-toggle="modal" data-keyboard="false" data-backdrop="static" role="button">
              <span class="btn dark-blue-btn btn-primary">
                Add New Education
              </span>
          </a> <!-- addedumodal -->
          <div id="educationTable">
            <!-- Education management table will be loaded in this div -->
          </div>
        </div> <!-- edutable -->
      </div> <!-- edutab -->

      <div id="certtab" class="tab-pane">
        <div id="certtable"> <!-- this id is used for x-editable -->
          <a href="#addcertmodal" data-pk=<%= @user.id %> data-toggle="modal" data-keyboard="false" data-backdrop="static" role="button">
              <span class="btn dark-blue-btn btn-primary">
                Add New Certification
              </span>
          </a> <!-- addcertmodal -->
          <div id="certificationTable">
            <!-- Certificate management table will be loaded in this div -->
          </div> <!-- certificationTable -->
        </div> <!-- certtable -->
      </div> <!-- certab -->

    </div> <!-- tab-content -->   
  </section> <!-- Competencies -->
</div> <!-- settingsLayout -->




   <!-- This is where the modals are defined -->
   <!-- Modals must be defined just before </body> -->
  <div class="modal fade" id="addskillmodal" >
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Add new skill</h4>                                                            
  </div> <!-- "modal-header" -->
  <div class="modal-body" style="padding-left:45px;padding-right:45px;">   
  <div id = "alert_placeholder-inmodal"></div>
  <br><br>
  <table id="skilltab" class="table table-bordered table-striped">
  <tbody>
  <tr>      
  <td width="20%">Skill category</td> <!--TSCHEW-->
  <td width="50%">
  <a href="#" class="newskill" data-emptytext="Select..." data-type="select" id="skillcat" data-name="id"  data-original-title="Select skill category"></a></td>
  </tr>
  <tr>      
  <td width="20%">Skill name</td>
  <td width="50%"><a href="#" class="newskill" id="skillname"  data-emptytext="Select..." data-type="select" data-name="skillid" data-original-title="Select skill"></a></td>
  </tr>
  <tr>      
  <td width="20%">Skill rank</td>
  <td width="50%"><a href="#" class="newskill" id="skillrank" data-emptytext="Select..." data-type="select" data-name="skillrank" data-source="[{value: 2, text: 'Basic'}, {value: 3, text: 'Intermediate'}, {value: 4, text: 'Advance'}, {value: 5, text: 'Expert'}]" data-original-title="Select rank"></a></td>
  </tr>  
  </tbody>
  </table>
  </div> <!-- "modal-body" -->
  <div class="modal-footer">
  <div class="align-center">
  <button id="saveskill-btn" class="btn btn-primary"><i class="icon-save bigger-140 icon-only">Save Skill and Add New</i></button>
  </div>  

  </div> <!-- footer -->
  </div> <!-- modal-content -->
  </div><!-- modal-dialog -->
  </div><!-- modal  --> 


  <div class="modal fade" id="addlanguagemodal" >
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Add new language</h4>                                                            
  </div> <!-- "modal-header" -->
  <div class="modal-body" style="padding-left:45px;padding-right:45px;">   
  <div id = "alert_placeholder-inmodal2"></div>
  <br><br>
  <table id="languagetab" class="table table-bordered table-striped">
  <tbody>
  <tr>      
  <td>Language</td>
  <td width="60%"><a href="#" class="newlang" id="lang"  data-emptytext="Select..." data-type="select" data-name="skr_lang" data-original-title="Select language"></a></td>
  </tr>
  <tr>      
  <td>Spoken skill level</td>
  <td width="20%"><a href="#" class="newlang" id="speakskill" data-emptytext="Select..." data-type="select" data-name="skr_lang_speakskill" data-source="[{value: 2, text: 'Basic'}, {value: 3, text: 'Intermediate'}, {value: 4, text: 'Advance'}, {value: 5, text: 'Expert'}]" data-original-title="Select rank"></a></td>
  </tr>  
  <tr>      
  <td>Written skill level</td>
  <td width="20%"><a href="#" class="newlang" id="writeskill" data-emptytext="Select..." data-type="select" data-name="skr_lang_writeskill" data-source="[{value: 2, text: 'Basic'}, {value: 3, text: 'Intermediate'}, {value: 4, text: 'Advance'}, {value: 5, text: 'Expert'}]" data-original-title="Select rank"></a></td>
  </tr>  
  </tbody>
  </table>
  </div> <!-- "modal-body" -->
  <div class="modal-footer">
  <div class="align-center">
  <button id="savelanguage-btn" class="btn btn-primary"><i class="icon-save bigger-140 icon-only">Save Language and Add New</i></button>
  </div>  
  </div> <!-- footer -->
  </div> <!-- modal-content -->
  </div><!-- modal-dialog -->
  </div><!-- modal  --> 


  <div class="modal fade" id="addedumodal" >
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Add New Education </h4>                                                            
  </div> <!-- "modal-header" -->
  <div class="modal-body" style="padding-left:45px;padding-right:45px;">   
  <div id = "alert_placeholder-inmodal3"></div>
  <br><br>
  <table id="edutab" class="table table-bordered table-striped">
  <tbody>
  <tr>      
  <td>Title</td>
  <td width="60%"><a href="#" class="newedu" id="skr_unititle"  data-emptytext="Select..." data-type="select" data-name="skr_unititle" data-original-title="Select Title"></a></td>
  </tr>
   <tr>      
  <td>Institutions</td>
  <td width="60%"><a href="#" class="newedu" id="skr_university"  data-emptytext="Select..." data-type="select" data-name="skr_university" data-original-title="Select Institutions"></a></td>
  </tr>
  <tr>      
  <td>Specialty</td>
  <td width="20%"><a href="#" class="newedu" id="skr_specialty" data-emptytext="Select..." data-type="select" data-name="skr_specialty" data-original-title="Select Specialty"></a></td>
  </tr>  
  <tr>      
  <td>Honors</td>
  <td width="20%"><a href="#" class="newedu" id="skr_honours" data-emptytext="Select..." data-type="select" data-name="skr_honours" data-original-title="Select Honors"></a></td>
  </tr>  
  <tr>      
  <td>Start Date</td>
  <td width="20%"><a href="#" class="newedu" id="skr_unistart" data-emptytext="Select..." data-type="date" data-placement="right" data-name="skr_unistart" data-original-title="Enter Start Date"></a></td>
  </tr>  
  <tr>      
  <td>End Date</td>
  <td width="20%"><a href="#" class="newedu" id="skr_uniend" data-emptytext="Select..." data-type="date" data-placement="right" data-name="skr_uniend" data-original-title="Enter End Date"></a></td>
  </tr>  
  </tbody>
  </table>
  </div> <!-- "modal-body" -->
  <div class="modal-footer">
  <div class="align-center">
  <button id="saveedu-btn" class="btn btn-primary"><i class="icon-save bigger-140 icon-only">Save Education and Add New</i></button>
  <br><br><br>
  Can't find the education type in the list? <button class="btn smaller-90 btn-error"><i class="icon-wrench">Let us know!</i></button>
  </div>  
  </div> <!-- footer -->
  </div> <!-- modal-content -->
  </div><!-- modal-dialog -->
  </div><!-- modal  --> 

  <div class="modal fade" id="addcertmodal" >
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Add New Certification </h4>                                                            
  </div> <!-- "modal-header" -->
  <div class="modal-body" style="padding-left:45px;padding-right:45px;">   
  <div id = "alert_placeholder-inmodal4"></div>
  <br><br>
  <table id="certtab" class="table table-bordered table-striped">
  <tbody>

  <tr>      
  <td>Certificate Name</td>
  <td width="60%"><a href="#" class="newcert" id="skr_certtitle"  data-emptytext="Select..." data-type="select" data-name="skr_certtitle" data-original-title="Select Title"></a></td>
  </tr>

  <tr>      
  <td>Certificate #</td>
  <td width="60%"><a href="#" class="newcert" id="skr_certlicense"  data-emptytext="Enter..." data-type="text" data-name="skr_certlicense" data-original-title="Enter certificate #"></a></td>
  </tr>

  <tr>      
  <td style="position: relative;">When did you get certified?</td>
  <td width="20%"><a href="#" class="newcert" id="skr_datecertified" data-emptytext="Select..." data-type="date" data-placement="right" data-name="skr_datecertified" data-original-title="Enter Date of certification"></a></td>
  </tr>  

  <tr>      
  <td style="position: relative;">Expiry Date</td>
  <td width="20%"><a href="#" class="newcert" id="skr_certexpiry" data-emptytext="Select..." data-placement="right" data-type="date" data-name="skr_certexpiry" data-original-title="Enter Expiry Date"></a></td>
  </tr>  

  </tbody>
  </table>
  </div> <!-- "modal-body" -->
  <div class="modal-footer">
  <div class="align-center">
  <button id="savecert-btn" class="btn btn-primary"><i class="icon-save bigger-140 icon-only">Save Certification and Add New</i></button>
  </div>  
  </div> <!-- footer -->
  </div> <!-- modal-content -->
  </div><!-- modal-dialog -->
  </div><!-- modal  --> 



  <div class="modal fade" id="addexperiencemodal" >
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Add New Job Experience</h4>                                                            
  </div> <!-- "modal-header" -->
  <div class="modal-body">   
  <div id = "alert_placeholder-inmodal5"></div>
  <br><br>
  <table id="exptab" class="table table-bordered table-striped">
  <tbody>
  <tr>      
  <td>Position</td>
  <td><a href="#" class="newjob" id="skr_emp_title"  data-emptytext="Select..." data-type="select" data-name="skr_emp_title" data-original-title="Select Position"></a></td>
  </tr>
  <tr>      
  <td>Actual Job Title</td>
  <td><a href="#" class="newjob" id="skr_emp_actualtitle"  data-emptytext="Enter..." data-type="text" data-name="skr_emp_actualtitle" data-original-title="Enter Actual Job Title"></a></td>
  </tr>
  <tr>      
  <td>Company</td>
  <td><a href="#" class="newjob" id="skr_emp_company"  data-emptytext="Enter..." data-type="text" data-name="skr_emp_company" data-original-title="Enter Company Name"></a></td>
  </tr>
   <tr>      
  <td>Industry</td>
  <td><a href="#" class="newjob" id="skr_emp_industry"  data-emptytext="Select..." data-type="select" data-name="skr_emp_industry" data-original-title="Select Industry"></a></td>
  </tr>
  <tr>      
  <td>Job Location</td>
  <td><a href="#" class="newjob" id="skr_emp_location" data-emptytext="Select..." data-type="select" data-name="skr_emp_location" data-original-title="Select Job Location"></a></td>
  </tr>  
  <tr>      
  <td>Job Function</td>
  <td><a href="#" class="newjob" id="skr_emp_function" data-emptytext="Select..." data-type="select" data-name="skr_emp_function" data-original-title="Select Job Function"></a></td>
  </tr>  
  <tr>      
  <td>Is this your Current Job?</td>
  <td>  
    <input type="checkbox" name="currentjob" id="currentjobcheck" unchecked> <label for="currentjobcheck"></label>
    <a href="#" class="newjob" id="skr_emp_currentjob" data-emptytext="Select..." data-type="select" data-name="skr_emp_currentjob"></a></td>
  </tr>  
  <tr>      
  <td>Start Date</td>
  <td><a href="#" class="newjob" id="skr_emp_start" data-emptytext="Select..." data-type="date" data-placement="right" data-name="skr_emp_start" data-original-title="Enter Start Date"></a></td>
  </tr>  
  <tr>      
  <td>End Date</td>
  <td><a href="#" class="newjob" id="skr_emp_end" data-emptytext="Select..." data-type="date" data-placement="right" data-name="skr_emp_end" data-original-title="Enter End Date"></a></td>
  </tr>  
  <tr>      
  <td>Description</td>
  <td><a class="newjob" href="javascript:void(0)" id="skr_emp_desc" data-name="skr_emp_desc" data-type="wysihtml5"  data-title="Enter Job Description"></a></td>
  </tr> 
  </tbody>
  </table>
  </div> <!-- "modal-body" -->
  <div class="modal-footer">
  <div class="align-center">
  <button id="saveexperience-btn" class="btn btn-primary"><i class="icon-save bigger-140 icon-only">Save Job Experience and Add New</i></button>
  </div>  
  </div> <!-- footer -->
  </div> <!-- modal-content -->
  </div><!-- modal-dialog -->
  </div><!-- modal  --> 



  <div class="modal fade" id="editexperiencemodal" >
  <div class="modal-dialog modal-lg" >
  <div class="modal-content">
  <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Edit Job Experience</h4>                                                            
  </div> <!-- "modal-header" -->
  <div class="modal-body" style="padding-left:45px;padding-right:45px;">   
  <div id = "alert_placeholder-inmodal6"></div>
   <div id="editexpbody"></div>

  </div> <!-- "modal-body" -->
  <div class="modal-footer">
  <div class="align-center">
  <button id="saveexperience-btn2" class="btn btn-primary"><i class="icon-save bigger-140 icon-only">Save Job Experience and Add New</i></button>
  </div>  
  </div> <!-- footer -->
  </div> <!-- modal-content -->
  </div><!-- modal-dialog -->
  </div><!-- modal  --> 



  <!-- End of Modals definition -->      
                   
  <script>

  $(document).ready(function(){

    $("#skillTable").html("<div id='loader'><i class='fa fa-spinner fa-spin'></i>Loading Skill RequirementTable now... </div>"); 
    $("#languageTable").html("<div id='loader'><i class='fa fa-spinner fa-spin'></i>Loading Language RequirementTable now... </div>"); 
    $("#educationTable").html("<div id='loader'><i class='fa fa-spinner fa-spin'></i>Loading Education Requirement Table now... </div>"); 
    $("#certificationTable").html("<div id='loader'><i class='fa fa-spinner fa-spin'></i>Loading Certification Requirement Table now... </div>"); 

    $("#experienceTable").load("/experiencetable",{i: new Date().getTime(), pk: <%=@user.id%>}); 
    document.getElementById('f1').scrollIntoView()
    $("#skillTable").load("/table",{i: new Date().getTime(), pk: <%=@user.id%>}); 

                //non singaporean and non-PR and active in seeking for job, show it!
              if (<%= @mynations %> != 157 && <%= @mynationtypes %> !=2 && <%= @userprofile.activeseeker %>){
                 document.getElementById( 'spr_block' ).style.visibility = 'visible';
                 if (<%= @userprofile.insingaporenow%> ){
                  document.getElementById( 'insg_block' ).style.visibility = 'visible';
                 }
              };

              if (<%= @mynations %> == 157 || <%= @mynationtypes %> ==2)  {
                document.getElementById( 'spr_block' ).style.visibility = 'hidden';
                document.getElementById( 'insg_block' ).style.visibility = 'hidden';
              } ;

              if (<%= @userprofile.travelfreq %> ==0){
                document.getElementById("f0").checked = true;
               }
              if (<%= @userprofile.travelfreq %> ==25){
                document.getElementById("f1").checked = true;
               }
              if (<%= @userprofile.travelfreq %> ==50){
                document.getElementById("f2").checked = true;
               }
              if (<%= @userprofile.travelfreq %> ==75){
                document.getElementById("f3").checked = true;
               }
              if (<%= @userprofile.travelfreq %> ==100){
                document.getElementById("f4").checked = true;
               }

       $('input[name="date-range-picker"]').daterangepicker({
        timePicker: false,
        showDropdowns: true,
        format: 'DD/MM/YYYY',
        }, function(start, end, label) {
          console.log(moment(start.format('YYYY-MM-DDTHH:mm:ss') + 'Z').utc().toISOString());
          from = moment(start.format('YYYY-MM-DDTHH:mm:ss') + 'Z').utc().toISOString();
          end =moment(end.format('YYYY-MM-DDTHH:mm:ss') + 'Z').utc().toISOString();
           $.ajax({
              url: '/update_inSG_Date',
              type: 'POST',
              data: {"insg_start": from, "insg_end": end, "pk" : <%=@userprofile.id %>},
              beforeSend : function(){
                $("#saving_date").html("<span id='saver'><i class='fa fa-spinner fa-spin'></i></span>");
              }, 
              success: function(response){
                          // newAlert("#alert_placeholder-tab", 'success', "Dates recorded");
                           $('#saver').fadeOut(1000, function() {
                            $(this).remove();
                           });
                        }
            });
        });

      $('#skr_careergoal').editable({
        tpl: "<input type='text' style='width: 700px';height:500px>",
        validate: function(value){
          if (!value) return 'This field is required';
          if(value.length >5000 ) {
            return 'You can only enter a maximum of 500 characters';
          }
        } //function 

      });

      $('#skilltable').editable({
        selector: 'a.skillrank',
        showbuttons: false
      });

      $('.Achievements').editable({
        selector: 'a.ec',
        tpl: "<input type='text' style='width: 700px';height:500px>",
        validate: function(value){
          if (!value) return 'This field is required';
          if(value.length >5000 ) {
            return 'You can only enter a maximum of 500 characters';
          }
        }, //function 
        emptytext: '[Optional] Enter your achievement here',
        placeholder: '[Optional] Enter your achievement here'
      });
      // $('#skilltable').editable({
      //   selector: 'a.skills'
      // });

      $('#languagetable').editable({
        selector: 'a.skr_lang_speakskill',
        showbuttons: false
      });

      $('#languagetable').editable({
        selector: 'a.skr_lang_writeskill',
        showbuttons: false
      });


      $('#expectedsalary').editable();
      $('#currentsalary').editable();
      $('#availability').editable();
      $('#skr_emp_currentjob').editable({disabled: true }); 

      $('#expectedsalary').editable('option', 'validate', function(v) {
          if(!v) return 'This is a required field!';
      });

      $('#currentsalary').editable('option', 'validate', function(v) {
          if (!isInt(v)){
            return "Invalid entry. Please re-enter";             
          }
      });

      $('#expectedsalary').editable('option', 'validate', function(v) {
          if (!isInt(v)){
            return "Invalid entry. Please re-enter";             
          }
      });


 

      $('#industries').editable({
     
           source: function() {
                return (<%= @industries%>)
              },
        select2: {
           multiple: true,
           dropdownAutoWidth : true,
           placeholder: 'Select Industries', width: '500px'
        },
        allowClear: true,
        minimumInputLength: 3,
        mode: 'popup',
        showbuttons: 'bottom',
        placement: 'bottom',
        emptytext: 'Select your preferred industries'
      });

      $('#locations').editable({
     
           source: function() {
                return (<%= @locations %>)
              },
        select2: {
           multiple: true,
           dropdownAutoWidth : true,
           placeholder: 'Select locations', width: '500px'
        },
        allowClear: true,
        minimumInputLength: 3,
        mode: 'popup',
        showbuttons: 'bottom',
        placement: 'bottom',
        emptytext: 'Select your preferred Job locations'
      });

      $('#joblevel').editable({
     
           source: function() {
                return (<%= @levels%>)
              },
        select2: {
           multiple: true,
           dropdownAutoWidth : true,
           placeholder: 'Select Job Levels', width: '500px'
        },
        allowClear: true,
        minimumInputLength: 3,
        mode: 'popup',
        showbuttons: 'bottom',
        placement: 'bottom',
        emptytext: 'Select your preferred Job levels'
      });

      $('#jobfunction').editable({
     
           source: function() {
                return (<%= @functions%>)
              },
        select2: {
           multiple: true,
           dropdownAutoWidth : true,
           placeholder: 'Select Job Functions', width: '500px'
        },
        allowClear: true,
        minimumInputLength: 3,
        mode: 'popup',
        showbuttons: 'bottom',
        placement: 'bottom',
        emptytext: 'Select your preferred Job functions'
      });

        $('#skillsettingtable').dataTable( {  
            "scrollY": 200,
            "ScrollX": true,
            "iDisplayLength": 10,
            "order": [[ 0, "desc" ]],
            "scrollCollapse": true,
            "jQueryUI": true,
            "aoColumns": [       
                null, null, null,
                { "bSortable": false }
              ]
        } );

        $('#languagesettingtable').dataTable( {
            "scrollY": 200,
            "ScrollX": true,
            "iDisplayLength": 10,
            "order": [[ 0, "desc" ]],
            "scrollCollapse": true,
            "jQueryUI": true,
            "aoColumns": [       
                null, null, null,
                { "bSortable": false }
              ]
        } );

      //  $('.datePicker').datepicker({autoclose:true}).next().on(ace.click_event, function(){
      //     $(this).prev().focus();
      // });

 

      $('[data-rel=tooltip]').tooltip();
      $('[data-rel=popover]').popover({html:true});



     


   }); //document ready


  </script>





<script>
// ------------ POST LOADING START Loading the respective tables when user click on the tab.--------
      $('#languagetabclick').one("click", function() {
          $("#languageTable").load("/langtable",{i: new Date().getTime(), pk: <%=@user.id%>}); 
      });

      $('#edutabclick').one("click", function() {
          $("#educationTable").load("/edutable",{i: new Date().getTime(), pk: <%=@user.id%>}); 
      });

      $('#certtabclick').one("click", function() {
          $("#certificationTable").load("/certtable",{i: new Date().getTime(), pk: <%=@user.id%>}); 
      });
//-------------------------END OF POST LOADING ------------------------------------


    $("#activecheck").on('change', function(){
      $.ajax({
        url: '/updateactive',
        type: 'POST',
        data: {"activeseeker": this.checked, "pk" : <%=@user.id %>},
        beforeSend : function(){
          $("#saving").html("<span id='saver'><i class='fa fa-spinner fa-spin'></i></span>");
        }, 
        success: function(response){
          var data = JSON.parse(response);

          if (data.active){
             if (data.singaporepr != 2)
              {document.getElementById( 'spr_block' ).style.visibility = 'visible';}
             if (data.singaporepr != 2 && data.insingaporenow){
                document.getElementById( 'insg_block' ).style.visibility = 'visible';}
           // newAlert("#alert_placeholder-tab", 'success', "Thanks for informing us that you are actively seeker for job");                 
          } else{
             document.getElementById( 'spr_block' ).style.visibility = 'hidden';
             document.getElementById( 'insg_block' ).style.visibility = 'hidden';
             // newAlert("#alert_placeholder-tab", 'success', "Thanks for informing us that you are not actively looking for job now.");
            
          }; //else
          // $("#saving").html("<div id='saver'>Saved...</div>");
          $('#saver').fadeOut(1000, function() {
          $(this).remove();
         });
        } //success function
      }); //ajax
  }); //activecheck function

  $("#insgcheck").on('change', function(){
      $.ajax({
        url: '/updateinsgnow',
        type: 'POST',
        data: {"insingaporenow": this.checked, "pk" : <%=@user.id %>},
        beforeSend : function(){
          $("#saving1").html("<div id='saver'><i class='fa fa-spinner fa-spin'></i></div>");
        },
        success: function(response){
          var data = JSON.parse(response);
          if (data.insingaporenow){
             document.getElementById( 'insg_block' ).style.visibility = 'visible';
             // newAlert("#alert_placeholder-tab", 'success', "Welcome to Singapore!");            
          } else{
             document.getElementById( 'insg_block' ).style.visibility = 'hidden';
             // newAlert("#alert_placeholder-tab", 'success', "Look forward to see you in Singapore soon!");
                          
          }; //else
              // $("#saving1").html("<div id='saver'>Saved...</div>");
              $('#saver').fadeOut(1000, function() {
               $(this).remove();
             });
        } //success function
     
      });
  });


        $("#parttimecheck").on('change', function(){
          $.ajax({
            url: '/updateparttime',
            type: 'POST',
            data: {"parttime": this.checked, "pk" : <%=@user.id %>},
            beforeSend : function(){
              $("#saving_parttime").html("<div id='saver_parttime'><i class='fa fa-spinner fa-spin'></i></div>");
            },
            success: function(response){
              var data = JSON.parse(response);
              if (data.parttime){
                    newAlert("#alert_placeholder-tab", 'success', "You will be matched to any part time jobs");     
              } else {
                    newAlert("#alert_placeholder-tab", 'success', "You will not be matched to part time jobs");  
              }                        
               $('#saver_parttime').fadeOut(1000, function() {
               $(this).remove();
             }); 
            } //success function
          }); //ajax
      }); //parttime function


      $("#fulltimecheck").on('change', function(){
          $.ajax({
            url: '/updatefulltime',
            type: 'POST',
            data: {"fulltime": this.checked, "pk" : <%=@user.id %>},
            beforeSend : function(){
              $("#saving_fulltime").html("<div id='saver_fulltime'><i class='fa fa-spinner fa-spin'></i></div>");
            },
            success: function(response){
              var data = JSON.parse(response);
              if (data.fulltime){
                   newAlert("#alert_placeholder-tab", 'success', "You will be matched to full time jobs");  
              } else {

                    newAlert("#alert_placeholder-tab", 'success', "You will not be matched to full time jobs");    
              }                               
               $('#saver_fulltime').fadeOut(1000, function() {
               $(this).remove();
             });
            } //success function
          }); //ajax
      }); //fulltime function

      $("#shiftworkcheck").on('change', function(){
          $.ajax({
            url: '/updateshiftwork',
            type: 'POST',
            data: {"shiftwork": this.checked, "pk" : <%=@user.id %>},
            beforeSend : function(){
              $("#saving_shift").html("<div id='saver_shift'><i class='fa fa-spinner fa-spin'></i></div>");
            },
            success: function(response){
              var data = JSON.parse(response);
              if (data.shiftwork){
                   newAlert("#alert_placeholder-tab", 'success', "You will be matched to jobs requiring shift work");                                    
              } else {
                   newAlert("#alert_placeholder-tab", 'success', "You will not be matched to jobs requiring shift work");  
              }
               $('#saver_shift').fadeOut(1000, function() {
               $(this).remove();
             });
            } //success function
          }); //ajax
      }); //shiftwork function

      $("#outofhourscheck").on('change', function(){
          $.ajax({
            url: '/updateoutofhours',
            type: 'POST',
            data: {"outofhours": this.checked, "pk" : <%=@user.id %>},
            beforeSend : function(){
              $("#saving_out").html("<span id='saver_out'><i class='fa fa-spinner fa-spin'></i></span>");
            },
            success: function(response){
              var data = JSON.parse(response);
              if (data.outofhours){
                   newAlert("#alert_placeholder-tab", 'success', "You will be matched to jobs requiring you to work outside office hour");
               } else {
                   newAlert("#alert_placeholder-tab", 'success', "You will not be matched to jobs requiring you to work outside office hour");  
               }                        
                $('#saver_out').fadeOut(1000, function() {
               $(this).remove();
             });
            } //success function
          }); //ajax
      }); // function


      $("#interncheck").on('change', function(){
          $.ajax({
            url: '/updateintern',
            type: 'POST',
            data: {"skr_intern": this.checked, "pk" : <%=@user.id %>},
            beforeSend : function(){
              $("#saving_intern").html("<div id='saver_i'><div id='saver_fulltime'><i class='fa fa-spinner fa-spin'></i></div>");
            },
            success: function(response){
              var data = JSON.parse(response);                           
               $('#saver_i').fadeOut(1000, function() {
               $(this).remove();
             });
            } //success function
          }); //ajax
      }); // function

      $("#contractorcheck").on('change', function(){
          $.ajax({
            url: '/updatecontractor',
            type: 'POST',
            data: {"skr_contractor": this.checked, "pk" : <%=@user.id %>},
            beforeSend : function(){
              $("#saving_contractor").html("<div id='saver_c'><i class='fa fa-spinner fa-spin'></i></div>");
            },
            success: function(response){
              var data = JSON.parse(response);                           
               $('#saver_c').fadeOut(1000, function() {
               $(this).remove();
             });
            } //success function
          }); //ajax
      }); // function


      function freqcheck(myRadio) {
          $.ajax({
            url: '/updatetravelfreq',
            type: 'POST',
            data: {"travelfreq": myRadio.value, "pk" : <%=@user.id %>},
            beforeSend : function(){
              $("#saving_radio").html("<div id='saver_r'><i class='fa fa-spinner fa-spin'></i></div>");
            },
            success: function(response){
              // var data = JSON.parse(response);                           
               $('#saver_r').fadeOut(1000, function() {
                  $(this).remove();
               });
            } //success function
          }); //ajax
      }; // function



      // $("#id-date-picker-1").on('change', function(){
      //     $.ajax({
      //       url: '/updatedob',
      //       type: 'POST',
      //       data: {"dob": this.value, "pk" : <%=@userprofile.id %>}
         
      //     });
      
      // });

     //automatically show next editable 1
      // $('.newskill').on('save.newskill', function(){
      //     var that = this;
      //     setTimeout(function() {
      //         $(that).closest('tr').next().find('.newskill').editable('show');
      //     }, 200);
      // });  

      // $('.newlang').on('save.newlang', function(){
      //     var that = this;
      //     setTimeout(function() {
      //         $(that).closest('tr').next().find('.newlang').editable('show');
      //     }, 200);
      // });  


      function isInt(value) {
        return !isNaN(value) &&
               parseInt(Number(value)) == value &&
               !isNaN(parseInt(value, 10));
      }

      function delskill(element,i){
        $.ajax({
                url: '/deleteskill',
                type: 'POST',
                data: {"pk" : i},
                success: function(response){
                   //$(element).parents('tr').remove();
               
                  //var row = $(this).closest('tr');
                  var row=$(element).parents('tr')
                  $('#skillsettingtable').dataTable().fnDeleteRow(row[0]);
                  newAlert("#alert_placeholder-tab", 'success', "Skill deleted!");

                }

              });
      }//function

      function delexp(element,i){
        $.ajax({
                url: '/deleteexp',
                type: 'POST',
                data: {"pk" : i},  //jobID
                success: function(response){
                  var row=$(element).parents('tr')
                  $('#experiencesettingtable').dataTable().fnDeleteRow(row[0]);
                  newAlert("#alert_placeholder-tab", 'success', "Job Experience deleted!");

                }

              });
      }//function


      function dellanguage(element,i){
        $.ajax({
                url: '/deletelanguage',
                type: 'POST',
                data: {"pk" : i, "userid": <%= @user.id %>},
                success: function(response){
                  var row=$(element).parents('tr')
                  $('#languagesettingtable').dataTable().fnDeleteRow(row[0]);
                  newAlert("#alert_placeholder-tab", 'success', "Language deleted!");

                }

              });
      }//function

      function deledu(element,i){
        $.ajax({
                url: '/deleteedu',
                type: 'POST',
                data: {"pk" : i, "userid": <%= @user.id %>},
                success: function(response){
                  var row=$(element).parents('tr')
                  $('#edusettingtable').dataTable().fnDeleteRow(row[0]);
                  newAlert("#alert_placeholder-tab", 'success', "Education deleted!");

                }

              });
      }//function

      function delcert(element,i){
        $.ajax({
                url: '/deletecert',
                type: 'POST',
                data: {"pk" : i, "userid": <%= @user.id %>},
                success: function(response){
                  var row=$(element).parents('tr')
                  $('#certsettingtable').dataTable().fnDeleteRow(row[0]);
                  newAlert("#alert_placeholder-tab", 'success', "Certification deleted!");

                }

              });
      }//function
      function newAlert (loc, type, message) {
          $(loc).append($("<div class='alert alert-block alert-" + type + " fade in' data-alert><p> " + message + " </p></div>"));
          $(".alert").delay(2000).fadeOut("slow", function () { $(this).remove(); });
      }     
 
       $('#addexperiencemodal').on('hide.bs.modal', function(e) {   
          $("#experienceTable").load("/experiencetable",{i: new Date().getTime(), pk: <%= @user.id %>}); 
      });
       $('#editexperiencemodal').on('hide.bs.modal', function(e) {   
          $("#experienceTable").load("/experiencetable",{i: new Date().getTime(), pk: <%= @user.id %>}); 
      });
       $('#addskillmodal').on('hide.bs.modal', function(e) {   
          $("#skillTable").load("/table",{i: new Date().getTime(), pk: <%= @user.id %>}); 
      });
       $('#addedumodal').on('hide.bs.modal', function(e) {   
          $("#educationTable").load("/edutable",{i: new Date().getTime(), pk: <%= @user.id %>}); 
      });
       $('#addcertmodal').on('hide.bs.modal', function(e) {   
          $("#certificationTable").load("/certtable",{i: new Date().getTime(), pk: <%= @user.id %>}); 
      });
       $('#addlanguagemodal').on('hide.bs.modal', function(e) {   
          $("#languageTable").load("/langtable",{i: new Date().getTime(), pk: <%= @user.id %>}); 
      });





</script>